[2020-09-07 13:36] moikot opened #5 "An option to reuse provisioned subdirs"
Current identity for provisioned subir includes the persisted volume name like this:

[code]
Would it be possible to include an option to omit options.PVName so that when I re-provision my cluster I could re-use the already existing subdirs as PVs?

[2020-09-17 09:58] Bledai opened #6 "There is no way to set a relative path and save the data after deletion PV"
We would like to see a more flexible solution, the idea is to be able to create path templates through the parameters of the storage classes, as well as using annotations for PVC

There are also cases in which, after deleting a PV, we would like to save data on NFS share.
Examle:
[code]

[2020-10-12 02:28] onesolpark opened #8 "Enable using kubeconfig file to connect to apiserver"
Currently nfs-provisioner only supports in cluster kubeconfig
```config, err := rest.InClusterConfig()```

Is there a plan to add support for provisioners that are not in cluster and uses kubeconfig file?

[2020-10-13 19:20] Ramblurr opened #10 "How to lock down access?"
Is it possible to lockdown access so only the privileged nfs container (the  provisioner?) can mount and access the NFS share directly?

I don't want other containers to be able to mount the share themselves.

Perhaps this is possible with a NetworkPolicy?

Would love to see an example of this in the readme.

[2020-10-15 15:15] b-slim commented on #10
@Ramblurr please help me understand, how the containers can mount the NFS share ? is that because it is running as root ?

[2020-10-21 18:21] codayblue opened #11 "Support for ARM64 architecture"
I see there is support for ARM v7 from the make file. I am attempting currently to get this working on my Rock64 Armbian k3s cluster. I can help test and work on the pipeline I just need to be pointed in a direction. Currently thinking about trying to build and deploy to from a fork to another quay repo just to have something working.

Thank you,
Cody Moss

[2020-10-23 18:09] johanfleury opened #13 "Avoid crashing when API is not reachable"
I’m running a kubernetes cluster with a single controller node and from time to time this controller node (e.g. during upgrades or reboots) might not be reachable.

Currently, when that happen, the provisioner “crashes” (exit with a non 0 status) and its pod goes into a crash loop as Kubernetes tries to restart it.

It would be great if the provisioner could handle this error in some way and not e

[2020-10-26 00:13] crd477 opened #14 "Unable to supply `nodeSelector` on command line"
Presumably I'm doing something wrong but I tried to supply a value for `nodeSelector` in the following manner:
[code]
which results in the following error:
[code]

Could you please provide a concrete example of the correct way to do this?

I was able to work around the problem by doing `helm pull`, editing `values.yaml` and then installing the chart from the local directory.

[2020-10-26 07:37] darkn3rd opened #15 "No Releases, No Artifacts, No Helm Chart Support, No updated CHANGELOG"
* There are no tags or releases for this project.
* The CHANGELOG is stale with last update for v2.0.1 on Aug 8, 2017.  There are no corresponding tags, sha code, etc.
* Original archived release had release of `nfs-client-provisioner-v3.1.0-k8s1.11`
* Official Docker Image quay.io/external_storage/nfs-client-provisioner has a release from 2 years ago for `v3.1.0-k8s1.11`
* Official Helm Chart Mai

[2020-10-26 16:54] dbsanfte commented on #5
Yes, this feels like a big missing feature. My NFS server persists across the lifecycle of my Kubernetes clusters: the latter are sometimes destroyed and recreated. NFS keeps my file state. I want to reuse existing files for new clusters.

Since the PVName ends up having a GUID in it, a brand new folder is created every time and it's simply unnecessary.

Maybe I'm missing something but I don't see

[2020-11-02 04:07] kmova commented on #5
@moikot @dbsanfte, would the following pattern work.

<custom-cluster-prefix>-<pvc-namespace>-<pvc-name>, where custom-cluster-prefix can be provided via a storage class parameter.

This should avoid any conflicts with multiple clusters using the same pvc-namespace and pvc-name.

[2020-11-02 04:10] kmova commented on #8
@onesolpark - does the above PR resolve this issue for you?

[2020-11-02 04:14] kmova commented on #10
@Ramblurr - the provisioner just helps to create a NFS PV and doesn't mount the NFS share itself. The contain that needs to access the share needs to create a PVC.

If you like to restrict some of the containers from using the NFS PV, is writing a OPA policy or admission webhook an option?

[2020-11-02 04:16] kmova commented on #13
@johanfleury, a similar issue has been fixed in the nfs-external-storage-provisioner via this PR https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/pull/11

Would you like to contribute the same change to this repository?

[2020-11-02 04:19] kmova commented on #15
@darkn3rd - thanks for your interest in this project and for summarizing the pending tasks that have to be completed. I will use this issue to update the progress over the next few days! Also, feel free to contribute to any of the pending tasks.

[2020-11-02 04:24] onesolpark commented on #8
@kmova yes it does I will close this issue thanks :)

[2020-11-02 04:24] #8 closed

[2020-11-02 08:41] dbsanfte commented on #5
That would be fine for me!

[2020-11-02 09:29] moikot commented on #5
The latest change should work for me too.

[2020-11-03 06:34] rkevin-arch commented on #15
We're currently using the `nfs-client-provisioner` helm chart, and there doesn't seem to be an official replacement yet. With the stable repo about to be deleted in less than 2 weeks, is there anything we can do to help speed this up?

[2020-11-03 07:57] Ramblurr commented on #10
Thanks for the replies @kmova  and @b-slim, I haven't forgotten about this, but need to get some time for testing.

[2020-11-08 20:04] fourstepper commented on #11
![image](https://user-images.githubusercontent.com/49439044/98483064-e2316180-2205-11eb-9ea9-5a695a1299d8.png)
Raspberry Pi 4 - 4GB on Ubuntu 20.04 ARM64

[2020-11-09 02:09] stoneshi-yunify opened #18 "ROX(readonlymany) does not work"
I created a PVC with access modes = ROX and mounted this PVC to a pod, I found I can write data to this volume, so it's not read-only.

I'm using nfs-client-provisioner:v3.1.0-k8s1.11.

- Is it possible to support ROX?
- If ROX is not supported, can nfs-client-provisioner reject/fail the PVC request with ROX?

Test info for reference:
[code]

[2020-11-09 02:49] stoneshi-yunify commented on #18
And ReadWriteOnce does not work either, a PVC with ReadWriteOnce provisioned by nfs-client-provisioner can be mounted to 2 pods, this isn't right.

[2020-11-10 10:25] sgandon opened #19 "What is the purpose of the leader election mechanism"
Hello,
I have tried to use this nfs provisioner and it seems to respond to a lot of my needs especially the possilibity to have a single folder per PV(c) that matchs very well the multi-tenant architecture we have.
I have tried to install the helm chart with 2 replicas and from what I understand the second replica is waiting for the current leader to fail to answer requests.
What is the gain of ha

[2020-11-10 22:04] rombert opened #20 "Disabling or delaying leader elections"
I am running the `nfs-client-provisioner` in a simple self-hosted cluster. I am trying to narrow down excessive control plane disk writes, and traced lots of them back to `etcd` writing to `/registry/services/endpoints/FOO/cluster.local-nfs-client-nfs-client-provisioner`.

I got 896 writes to that key in 30 minutes, so it looks like once very two seconds, which is quite a lot ( actually half of th

[2020-11-16 13:52] rombert commented on #20
FWIW I would be willing to come up with a PR, given that we can agree on what options to expose and how. There are a wealth of options exposed by https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/203b2c9cdf9c44e504af7d8a15d9df6642cd9ea5/controller/controller.go#L623-L647 , which I think is what the nfs client provisioner users.

Thoughts?

[2020-11-23 23:05] johanfleury commented on #13
I can work on that. Do you think disabling leader election is the best way to solve that?

[2020-11-26 17:09] kmova commented on #20
@rombert - that would be great.

There was a similar functionality added to another provisioner via this PR.  https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/pull/11

[2020-11-26 21:58] rombert commented on #20
Thanks @kmova . I'll try and submit a similar PR with a single change - disabling leader election.

[2020-12-01 09:22] #6 closed

[2020-12-02 07:07] tobias-zeptio opened #23 "Migrating from efs-provisioner"
Deploying the now deprecated [efs-provisioner](https://github.com/helm/charts/tree/master/stable/efs-provisioner) leads you here as a replacement, but there is no migration path.

What I see as the only issue right now is that there is a required NFS_SERVER address, while EFS has one IP per Availability Zone. I've been working with kubernetes for years, but I'm new to AWS.

I tried using `file-sys

[2020-12-02 14:37] jellevanhees commented on #23
we are looking to solve the same problem.
the actual go tool here is updated recently but the "latest" container hosted by quay is over 2 years old.
making nfs-provisioner newer than this.
the biggest issue of this repo that it doesn't have a ci/cd build container.
if someone can help met set this up using github tools for building the container we could try to push an up to date container to quay

[2020-12-02 19:01] #20 closed

[2020-12-03 13:29] rombert commented on #15
@kmova - are there any plans to provide a new Helm chart? I'd like to add support for disabling leader election (#22) but I'm not sure where to submit the changes.

[2020-12-04 06:54] tobias-zeptio commented on #23
I see, are you using this to successfully mount EFS volumes?

Unfortunately, I've never used github CI tools.

[2020-12-04 07:08] jellevanhees commented on #23
we are currently using efs-provisioner which is a helm chart containing a deprecated version of this tool.
I will see if i can find some time to work on getting this container build using github actions.

[2020-12-05 21:14] 2fst4u opened #24 "How do I add extra NFS mount parameters?"
Is there any way through environment variables to add extra mount parameters? Specifically the "nolock" parameter.

[2020-12-10 14:46] nealman13 opened #25 "Using Kubernetes v1.20.0, getting "unexpected error getting claim reference: selfLink was empty, can't make reference""
Using Kubernetes v1.20.0

Attempting to create pvc's, they all remain in "pending" status

Doing a kubectl logs nfs-client-provisioner gives this:

I1210 14:42:01.396466       1 leaderelection.go:194] successfully acquired lease default/fuseim.pri-ifs
I1210 14:42:01.396534       1 controller.go:631] Starting provisioner controller fuseim.pri/ifs_nfs-client-provisioner-64b7476494-p4fcm_dcfca333-3af

[2020-12-10 15:57] fangedhex commented on #25
I can confirm that I have this problem too on my new cluster using Kubernetes v1.20 with those same logs/errors when creating a test pvc.

[2020-12-10 16:07] nealman13 commented on #25
Current workaround is to edit /etc/kubernetes/manifests/kube-apiserver.yaml

Under here:
spec:
  containers:
  - command:
    - kube-apiserver

Add this line:
    - --feature-gates=RemoveSelfLink=false

The do this:
kubectl apply -f /etc/kubernetes/manifests/kube-apiserver.yaml
kubectl apply -f /etc/kubernetes/manifests/kube-apiserver.yaml

(I had to do it twice to get it to work)

[2020-12-10 16:27] petermicuch commented on #25
Yep, exactly the same issue. In k8s 1.20 they have removed selfLink as per [release notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md).

Adding selfLink manually does not help, as that is removed by API server immediatelly.

[2020-12-10 16:34] fangedhex commented on #25
I used @nealman13's workaround until a fix is made and it works now. Thanks !

[2020-12-10 16:49] petermicuch commented on #25
Just to add to what @nealman13 provided. Before first leader election log, there is this error:
[code]

[2020-12-10 18:04] petermicuch commented on #25
I think the problem is in using the old client-go by this [replace](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/920c708218be0fadbc50fea4d25b42c279fefe21/go.mod#L28), but I am not 100% sure if that is the only legacy we pull here.

Same problem was discussed in [#94660](https://github.com/kubernetes/kubernetes/issues/94660) and [this](https://github.com/kubernetes/kubern

[2020-12-13 11:50] james-d-elliott commented on #25
Just a note about `/etc/kubernetes/manifests/kube-apiserver.yaml`. When running the control-plane as an in-cluster service you should not need to apply changes to this file ever. As soon as you save the change to disk the apiserver pods will detect it and should conduct a Rolling Update. You can watch the progress with `watch kubectl get pods --namespace kube-system`. You can confirm the behavior

[2020-12-15 15:28] llech commented on #15
Is there any docker image built since the branching from the nfs-client-provisioner? Are there any relevant changes made since?
The nfs-client-provisioner:latest was working fine in Kubernetes 1.19.

[2020-12-15 15:30] rombert commented on #15
@llech - I am interested in https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/22

[2020-12-15 20:19] kmova commented on #15
Almost there. Just trying to get the process right for the automated builds via these PRs:
- https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/pull/30
- https://github.com/kubernetes/test-infra/pull/20233

As soon as the above two are merged, will work on enabling these automated builds for this repo.

[2020-12-16 20:17] yonatankahana commented on #24
since my PR merged, you can build and deploy your own image from `master` and add these mount options in the storage class. for example:

[code]

[2020-12-16 21:01] #24 closed

[2020-12-18 01:53] iming0319 commented on #25
The workaround will no longer work after 1.20.
"selfLink is a URL representing this object. Populated by the system. Read-only. DEPRECATED Kubernetes will stop propagating this field in 1.20 release and the field is planned to be removed in 1.21 release."

[2020-12-18 11:10] yonatankahana commented on #15
@kmova I will love to help with bringing the helm chart to this repository and maintain it. let me know if my help is needed.

[2020-12-18 11:34] kmova commented on #15
@yonatankahana - that would be awesome! please go ahead.

[2020-12-19 12:00] davidkarlsen commented on #15
Those two are merged now.

[2020-12-19 18:41] kmova commented on #15
And one more to go: https://github.com/kubernetes/org/issues/2389

Also started working on #29 for automating builds on this repo.

[2020-12-31 13:28] zaneclaes commented on #25
The "fix" now causes a `CrashLoopBackoff` on `kube-apiserver`, per @iming0319 .
Is there any way to get NFS working with Kubernetes 1.20.1?

[2020-12-31 13:36] yonatankahana commented on #25
what "fix" you tried? have you tried #26 ?

[2020-12-31 19:06] zaneclaes commented on #25
It does not appear to be merged. So, no, I have not pulled and built that PR (yet).

[2020-12-31 19:34] groundhog2k commented on #25
@zaneclaes: I created a fork of nfs-subdir-external-provisioner, merged the PR from @petermicuch and adapted the action workflow to create an automated build + multi-arch. docker image - try v3.2.0 of https://hub.docker.com/r/groundhog2k/nfs-subdir-external-provisioner/tags?page=1&ordering=last_updated - It should work for Kubernetes >= V1.20.x.

[2021-01-01 23:02] olcayseker commented on #25
I have tried your fork with feature-gate trick but pvc stucks in pending state. Kubernetes version is 1.20.0 log message is;

Waiting for a volume to be created, either by external provisioner "cluster.local/nfs-client-provisioner" or manually created by system administrator

[2021-01-02 11:03] groundhog2k commented on #25
@olcayseker: I don't know which fork you mean, but if you are talking about https://github.com/groundhog2k/nfs-subdir-external-provisioner, i can say it's definetly working. I tested in on ARM64 and AMD64/x86 with and without feature-gate switch and using it since 15 days on my mixed-arch. cluster without any problems. Have you looked at the logs of the nfs-provisioner pod when PVC is in pending s

[2021-01-02 17:06] docent-net commented on #19
Hi,

I'm not project maintainer. I found this question looking for some other answer ad your question made me think about it.

So looks like the leadership election is a feature of sigs.k8s.io/sig-storage-lib-external-provisioner/controller and defined here:

https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/cmd/nfs-subdir-external-provisioner/provisioner.go#L266

So t

[2021-01-03 14:01] syangsao opened #31 "Unable to deploy on OpenShift 4.6"
Has anyone tried this on OpenShift (OCP) 4.6 lately?  I tried installing via Helm and also deploying this manually but am seeing the same results.

[code]

Service account info

[code]

Role bindings seem to be assigned

[code]

Roles and SCC

[code]

The Helm install worked fine on OCP 4.5.  However, with a fresh installation of OCP 4.6, I'm not able to deploy this either via Helm or manually.  A

[2021-01-03 17:41] yonatankahana commented on #31
try to `oc adm policy add-scc-to-user hostmount-anyuid -z nfs-client-provisioner` and redeploy.

[2021-01-04 14:26] sgandon commented on #19
Hi,
Thanks for you answer, I could not agree more.

[2021-01-05 23:57] sxnguyen commented on #31
I get the same error on OCP 4.3.  I ran this to resolve the issue
[code]

[2021-01-06 11:15] pierluigilenoci commented on #15
Is there any news regarding a new chart on the Hub?

[2021-01-06 11:19] yonatankahana commented on #15
I am waiting for #30 to be merged so we can continue to work on automation and uploading to repository.

[2021-01-06 11:19] immanuelfodor commented on #15
@kmova has just received the missing permissions today, the project will definitely progress :)

[2021-01-06 18:43] jsafrane commented on #25
I'm trying to fix this in #32, I'd appreciate some more thorough testing.
/assign

[2021-01-06 19:17] petermicuch commented on #25
@jsafrane it is already fixed with #26, it works also with k8s 1.20.x I've tested it myself. We are only waiting for review from maintainers of this project for quite some time to get it merged.

[2021-01-06 21:32] jsafrane commented on #25
Awesome, I'll delete my PR.

[2021-01-07 12:03] petermicuch commented on #25
@kmova or @jackielii - would it be possible to create new release now with the fix #26 merged to main so that this issues could be closed? There are still new and new people seeking official released fix?

[2021-01-07 20:32] yonatankahana commented on #18
this is a common misunderstanding of what the access modes are.
those modes are for matching between PVC's and PV's. nfs support RWO/RWX/ROX but doesn't enforce them. it just one of it's capabilities.

[2021-01-08 15:41] efussi commented on #31
This is documented in the README, see the **OpenShift** section in step 3 of https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner#without-helm.

[2021-01-08 17:23] yonatankahana commented on #18
this is a common misunderstanding of what the access modes are.
those modes are for matching between PVC's and PV's. nfs support RWO/RWX/ROX but doesn't enforce them. it just one of it's capabilities.

if you want to enforce read only on a volume, a good way is to set `readOnly: true` in your pod's `volumeMounts`.

[code]

[2021-01-10 18:24] yonatankahana commented on #15
another progress made.
* the helm chart merged (#30)
* tag `4.0.0-rc1` created

seems we are very close to the first image and chart release.

[2021-01-11 01:40] stoneshi-yunify commented on #18
Thanks for the explanation and suggestion @yonatankahana !

[2021-01-11 01:40] #18 closed

[2021-01-11 17:03] BenB196 opened #33 "Unable to deploy on Rancher v2.5.x"
Attempted to add this repo as a Chart Repository on Rancher v2.5.x.

Got the following error:
[code]

Git Repo URL: https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner.git
Branch: Master

[2021-01-11 17:13] yonatankahana commented on #33
this repository is not helm chart repository.
in fact, no version of this repository has come out yet and there is no official chart release to pull.
keep following.

[2021-01-11 17:46] tibbe opened #34 "Permission denied when creating /persistentvolumes subdirectory"
It seems that using `/persistentvolumes` to mount the NFS share is [hardcoded](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/cmd/nfs-subdir-external-provisioner/provisioner.go#L76) and fails since the node doesn't have permission to create that directory (or subdirectories):

[code]

I installed the ARM version using helm, like so:

[code]

My NFS server exports ar

[2021-01-11 17:54] tibbe commented on #34
This is on a clean k3s install on a clean install of Raspberry Pi OS (32-bit). NFS server set up according to https://www.raspberrypi.org/documentation/configuration/nfs.md, except using a different directory (`/export/nfs-storage`) for the share.

[2021-01-11 17:56] yonatankahana commented on #34
seems that controller pod running without permissions and just can't create directory for the PV.
what are the permissions in the folder `/export/nfs-storage`?

[2021-01-11 18:45] tibbe commented on #34
Seems to have been an issue with folder permissions, as you suggested. Works with:

[code]

[2021-01-11 18:45] #34 closed

[2021-01-13 18:37] bohnejoe opened #36 "unable to successfully deploy PVC on raspberry pi"
Hi,

I am trying to deploy nextcloud on k3s and store my data on a nfs-share.

I already setup the k3s on a (for now) single raspberry pi via [k3s-ansible](https://github.com/k3s-io/k3s-ansible) which worked perfectly fine. I tried to setup a PV+PVC for a NFS share and eventually found that I should use this nfs provisioner.

I have
- setup a NFS mount (verified via showmount -e IP) and was able t

[2021-01-13 18:46] yonatankahana commented on #36
the reason that we set it to `>=1.9.0 <1.20.0` is because `1.20` is not supported in the latest official image.
we have already merged fix for that to `master` (#26) and if you'll build your own image (`make container`) you should be able to make it work by setting the values.yaml to use your image.

i hope that pretty soon we will see release of newer version that will contain this fix and when i

[2021-01-13 20:18] bohnejoe commented on #36
Thank you for the fast reply! I'll try to build the image and test again :)

[2021-01-13 20:52] bohnejoe commented on #36
is there any ETA for a new release?

[2021-01-13 20:58] yonatankahana commented on #36
unfortunately no... you can follow the progress in #15

[2021-01-14 13:16] kmova commented on #15
Another step to cross. https://github.com/kubernetes/test-infra/pull/20432

[2021-01-16 01:29] chief93 commented on #25
For `v1.20.2` issue still presents (trying `nfs-client-provisioner`). Seems like a lot of Kubernetes software (MetalLB, NFS provisioners and so on) are based on this (`selfLink`) functionality. It must be some discussion between Kubernetes core developers and 3rd-party Kuberentes software developers for asap solvind of such important issues, that affects a lot of projects

[2021-01-16 06:29] petermicuch commented on #25
@chief93 the code in this repo works fine even with k8s v 1.20.2. The problem is, there was no new official docker image published yet, which I thought would be done with build updates provided by @kmova. So for now you either have to build your own or use one build by others like [here](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/26#issuecomment-743745469).

[2021-01-17 15:15] bohnejoe commented on #36
really hard to follow, what is happening. Maybe open a github project and make a column with all required issues for the first release?
as i understand the first release will not include the fix for this issue? at least i can not find anything in the 4.0.0-rc1?

[2021-01-19 17:38] titou10titou10 opened #38 "Deploy with Helm on OKD v4.6.0-0.okd-2021-01-17-185703 fails because of kubeVersion restrictions"
Helm install fails in OKD v4.6 because of the k8s version restrictions defined in`Charts.yaml`

    helm install nfs-client-provisioner . -n nfs-client-provisioner --set nfs.server=xxx.xxx.xxx.xxx,nfs.path=/xxxxx,storageClass.defaultClass=true,replicaCount=2
    Error: chart requires kubeVersion: >=1.9.0 <1.20.0 which is incompatible with Kubernetes v1.19.2-1019+3b012051f912a6-dirty

Removingthe l

[2021-01-19 18:19] yonatankahana commented on #38
it is a bug. i opened PR to fix it: #39
thank you.

[2021-01-20 02:49] alexdresko commented on #15
Merged 7 hours ago. 👍

[2021-01-23 11:13] aRestless opened #41 "Make default directory permissions configurable"
https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/cmd/nfs-subdir-external-provisioner/provisioner.go#L112

The directory permissions on created volumes are hardcoded to 777.

Some applications (Nextcloud in my case) will fail if their data directories have too open permissions, and rightfully so. I would suggest an environment variable that can override the default dir

[2021-01-24 16:13] yonatankahana commented on #14
wrong cli usage, this should work:
[code]

[2021-01-25 20:47] yonatankahana commented on #41
test it yourself :)
if it will work for you, it would probably work for many and PR will be appreciated.

[2021-01-26 08:43] Kali-lightsaber opened #42 "nfs version 4 not working"
nfs version 4 not working on any kubernetes installation. Client mounts only version 3 and helm not pass few mount options like nfs version. If i'll set server version only nfsv4 it's also doesn't work.

[2021-01-26 08:47] yonatankahana commented on #42
what version you use? mount options was not effective until we merged #28 and no version released with this fix yet.

[2021-01-26 08:50] Kali-lightsaber commented on #42
Latest. I'm wrong with fsid and mount path, sorry. It's only not working on OKD 4.5/4.6. Why?

[2021-01-26 09:07] #42 closed

[2021-01-29 18:01] therc opened #44 "support multiple (many) namespaces"
This is a continuation, more or less, of issue 1210 in the old repo.
I even had a PR that implements what is described here:
https://github.com/kubernetes-retired/external-storage/issues/1210#issuecomment-626232371

Basically, if you need to export the same NFS mount to a large number of namespaces, now you would do this:

1. create a PVC for the mount, using whatever NFS provisioner you want
2. r

[2021-01-29 21:13] texasbobs commented on #36
Has anyone built a working image?  I tried to build one on my pi cluster but it gets an error at execution time. `standard_init_linux.go:219: exec user process caused: exec format error`
I'm sure I did something wrong. :)
On the pi, I...
-  installed golang 1.15 and docker on one of the pis
- cloned this repo
- ran `make build`
- ran `make container`
- tagged and push my new image up to dock hub
-

[2021-01-29 22:17] yonatankahana commented on #36
what image you use, are you using the [`-arm` image](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/deploy/deployment-arm.yaml)?

[2021-01-29 22:22] texasbobs commented on #36
No.  I am on 1.20 of k3s so that image won't work.  I was trying to build a new one.

[2021-01-30 03:39] zbh2021 opened #45 "arm vm install nfs persistence docker images start failed"
1. arm vm install  crate  nfs persistence  but  docker images start failed
![image](https://user-images.githubusercontent.com/64472801/106346127-d084c500-62ef-11eb-9299-b29484e2050a.png)

[2021-01-30 03:43] zbh2021 opened #46 "![image](https://user-images.githubusercontent.com/49439044/98483064-e2316180-2205-11eb-9ea9-5a695a1299d8.png)"
![image](https://user-images.githubusercontent.com/49439044/98483064-e2316180-2205-11eb-9ea9-5a695a1299d8.png)
Raspberry Pi 4 - 4GB on Ubuntu 20.04 ARM64

_Originally posted by @fourstepper in https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/11#issuecomment-723658487_

[2021-01-30 15:17] kmova commented on #45
Can you please try with this image:

`gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:canary`

[2021-01-30 15:19] kmova commented on #44
Hi @therc, please go ahead with reviving the PR.

[2021-01-30 15:25] kmova commented on #36
@texasbobs - can you try with this image: `gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:canary`

The above is generated and pushed by K8s cloud builds with the latest changes. You can see more details here:
https://console.cloud.google.com/gcr/images/k8s-staging-sig-storage/GLOBAL/nfs-subdir-external-provisioner?authuser=0&gcrImageListsize=30

[2021-01-30 21:59] texasbobs commented on #36
I'm not sure that was made for ARM7.  I tried it though and it reports back with `Failed to pull image "gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:canary": rpc error: code = NotFound desc = failed to pull and unpack image "gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:canary": no match for platform in manifest: not found`

[2021-02-02 13:02] timmilesdw commented on #25
Built code from master branch to a docker image
https://hub.docker.com/r/timmiles/nfs-subdir-external-provisioner
docker pull timmiles/nfs-subdir-external-provisioner

[2021-02-02 14:16] kmova commented on #25
Can you also please try this image generated and published from this repo.
`gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:canary`

[2021-02-02 15:01] petermicuch commented on #25
Hi @kmova I have tested with your image `gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:canary` the basic scenario create/delete pvc and check that pv was created/archived (tested with postgres DB). This work on k8s version `Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.0"`.

So could we now get official new release :-) ?

[2021-02-02 16:43] leandrofrs commented on #25
@petermicuch and @kmova Im at `Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2a56", GitTreeState:"clean", BuildDate:"2021-01-13T13:20:00Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64` and I tried with the image you said `gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:canary`. The PV is created and it's Bound with the PVC

[2021-02-02 16:56] petermicuch commented on #25
@leandrofrs I believe that might be different issue. Provisioner is responsible to bound PVC to PV and create respective sub-directory structure on the referenced NFS server (can you see that this was done?). In my case postgress was able to create DB and work with it. In your case you might need to set correct permission for your NFS share. I might be wrong, but that is my assumption.

[2021-02-04 07:49] xkn1ght opened #48 "how to use nfs-external-provisioner with k8s in version v1.20.2"
or when to support the higher version

[2021-02-04 08:04] #48 closed

[2021-02-04 17:49] yonatankahana commented on #33
you can now use this repository as helm repository. happy helming :+1:

[2021-02-04 18:15] BenB196 commented on #33
Yep, able to add the repo as a helm repository now. Thanks for the work on this.

[2021-02-04 18:15] #33 closed

[2021-02-05 17:38] yonatankahana commented on #36
@kmova arm7 is 32bit, what does it take to add it to the `BUILD_PLATFORMS` and multi-arch image?

[2021-02-05 18:11] texasbobs commented on #36
I just checked and was wrong.  The rpi 4 uses ARM v8.

[2021-02-05 18:59] yonatankahana commented on #36
try to use `gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:arm64-linux-v4.0.0`

[2021-02-07 11:10] neinkeinkaffee commented on #36
I have a similar problem setup as @bohnejoe in that I want to use the nfs storage provisioner for persistence in my k3s Raspberry Pi 4 cluster. When I deploy the provisioner on k3s with `gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:arm64-linux-v4.0.0` I get an `exec format error`. It might be due to the fact that most OS for the Raspberry Pi 4 are still 32-bit, including Raspbian

[2021-02-07 11:18] neinkeinkaffee commented on #36
I am getting an `exec format error` when trying to use `gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:arm64-linux-v4.0.0` with k3s on Raspberry Pi 4. It might be because most OS for Raspberry Pi 4 are still 32-bit, although the hardware is 64-bit arm8. Would be it be possible to add arm7 to the `BUILD_PLATFORMS`?

[2021-02-07 14:03] hamid-elaosta commented on #36
You are correct. The Raspbian OS userspace is still 32bit. You can run Ubuntu 20.04 aarch64 or use a 32bit ARM image.

[2021-02-07 18:58] neinkeinkaffee commented on #36
Thanks @hamid-elaosta. I used the multi-arch build in this fork https://github.com/groundhog2k/nfs-subdir-external-provisioner to check and it worked.

[2021-02-08 01:10] Kali-lightsaber commented on #31
Don't create role and fix `oc adm policy add-role-to-use` in your README.md file with next command, it really necessary

Thank you!

[2021-02-09 14:29] darkcloud784 opened #50 "helm chart does not have recent versions"
The helm chart does not contain recent versions of nfs-subdir-external-provisioner. All are for Kubernetes 1.19.0-0 or below.

[2021-02-09 14:37] yonatankahana commented on #50
we are very close to release newer version, please follow #49.

[2021-02-11 18:08] m4r1k opened #51 "[nfs-subdir-external-provisioner] No restrictions on PVC"
Hey there,

I'm merely linking the former `nfs-client-provisioner` issue about the quota here.
https://github.com/kubernetes-retired/external-storage/issues/1301

Would be really handy having this included as well

[2021-02-12 10:28] #15 closed

[2021-02-12 16:24] yonatankahana commented on #50
check again, the new version released.

[2021-02-13 11:24] tomasz-kuzemko commented on #36
I had the same issue with not being able to run the Docker image on a Raspberry Pi 4. For anyone else stuck on this, this is how I was able to build the 32-bit ARM image in a clone of this repository:

[code]

@kmova for a permanent solution I would also like to ask to extend `BUILD_PLATFORMS` with `linux arm`.

[2021-02-14 14:13] geoff-coppertop commented on #5
Was this integrated? it looks like the provisioner is still using the UID.

[2021-02-14 14:35] kmova commented on #5
The above suggestion needs to be coded. Lost track of this, will pick it up shortly.

[2021-02-15 15:50] geoffreyPerrin commented on #50
Hi, I have this error when i'm trying to use the helm chart:
helm repo add nfs-subdir-external-provisioner https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner/
"nfs-subdir-external-provisioner" already exists with the same configuration, skipping
helm install nfs-provisioner-carol-common-services nfs-subdir-external-provisioner/nfs-subdir-external-provisioner     --set nfs.server=tes

[2021-02-15 16:02] yonatankahana commented on #50
try to `helm repo update` to see if it helps

[2021-02-15 21:44] rombert commented on #13
Is this fixed by #22 ?

[2021-02-16 15:35] petermicuch commented on #25
@nealman13 could you please also test with #49 now merged. It would be good to close this issue if you do not observe described problem anymore with image gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:v4.0.0

[2021-02-16 16:33] ariksidney opened #53 "Helm chart does not support pathPattern"
Hi all,

From what I can see there is currently no way of setting a pathPattern with the Helm chart? This would be quite handy for us, so if there is not a reason against it, I might can create a PR for this.

Cheers

[2021-02-16 16:47] yonatankahana commented on #53
that would be great, go ahead.

[2021-02-16 16:48] yonatankahana commented on #50
any updates? if solved, please close the issue

[2021-02-16 17:20] yonatankahana commented on #51
i believe it will be possible using the [quota.go](https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/blob/master/pkg/volume/quota.go) that @wongma7 wrote.
@wongma7 - do you have any idea if this is gonna work?

[2021-02-16 18:27] wongma7 commented on #51
quota.go is very limited, it relies on the volume backing the NFS store to be XFS and the provisioner has to be privileged. Even then it might not work, depending on container runtime and such.

I think a more generic quota/restriction mechanism is not feasible since NFS doesn't support it. : /

To enforce per-PVC quota, the server would have to poll disk usage and then somehow block writes after

[2021-02-17 14:53] johanfleury commented on #13
I mean, if I disable leader election, most probably. But that feels like a bad idea for “HA” deployment, for rollouts, etc.

[2021-02-19 04:10] huntersan9 commented on #25
Just tested with gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:v4.0.0 installed from helm 4.0.2 and am able to create a new volume on nfs just fine

[2021-02-19 05:02] nealman13 commented on #25
I built my own container and tested it.  I confirm that it worked for me in my K8s 1.20 cluster.  All the pvcs were created and bound and everything worked for me.

[2021-02-19 05:02] #25 closed

[2021-02-20 15:29] Ueland opened #57 "arm-image not available"
I see on some closed issues and PR's that it appears that arm(read:Raspberry Pi's) sould work fine.

I did the helm install on a k3s cluster, when trying to pull the image, k8s logs the following error:

`Failed to pull image "gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:v4.0.0": rpc error: code = NotFound desc = failed to pull and unpack image "gcr.io/k8s-staging-sig-storage/nfs

[2021-02-20 20:33] yonatankahana commented on #57
can you please confirm if the error gone when using this image: `yonatankahana/nfs-subdir-external-provisioner:armfix`?

[code]

[2021-02-21 02:20] 1tayH commented on #57
I was having the same issue and this image worked fine for me

[2021-02-21 17:11] Ueland commented on #57
@yonatankahana Can confirm that it works, thanks! :)

[2021-02-21 18:44] yonatankahana commented on #57
excellent guys, thanks for the confirmation. we will release official image with the fix soon.

[2021-02-21 20:11] yonatankahana commented on #51
PVC sizes are requests but **not necessarily limitations**. the matching PV should be at least the size of the PVC and it is not guaranteed that this size is really available nor enforced - by design.
in dynamic provisioning it is possible to allocate/control the size of the created volume, but NFS exports are not volumes but directories and sounds like there is no good way to set quota on those d

[2021-02-22 01:32] darkcloud784 commented on #50
4.0.0. is currently available but not 4.0.2 which has been the current release for 4 days now.

[2021-02-22 20:19] yonatankahana commented on #50
the chart version is 4.0.2 and the application version is 4.0.0.
[code]

[2021-02-23 04:44] #57 closed

[2021-02-23 12:40] Doriangaensslen commented on #45
image.repository=gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner worked for me

[2021-02-23 13:09] yonatankahana commented on #45
since you open this issue we released new provisioner version and new helm chart version. you can use them and they use this latest image by default.
if the problem solved please close the issue :)

[2021-02-24 02:37] zbh2021 commented on #45
thank you very much

[2021-02-25 15:11] mclosson-lsf opened #60 "OCP3.11 error: can not perform 'use' on 'securitycontextconstraints' in group '' (with fix)"
When deploying on Openshift, the README explains that the "hostmount-anyuid" scc needs to be granted to the service account.  When I run the provided command in my OCP3.11 cluster, I get this error message.

[code]

The `securitycontextconstraints` resource is in the api group `security.openshift.io`.  I appended the following to `rbac.yaml` to get the role added correctly.

[code]

[2021-02-27 17:41] sifotes commented on #5
This seems like such key behavior, I assumed it was the default.
Currently my workaround is to keep the PVCs defined and re bind them every time the pod comes up but as mentioned, this won't work for new clusters / auto scaling clusters, or even just including the PVC definition in the workload's manifest as would be preferred.

[2021-03-03 17:29] #53 closed

[2021-03-03 17:34] yonatankahana commented on #45
/close

[2021-03-03 17:34] #45 closed

[2021-03-03 17:34] yonatankahana commented on #46
/close

[2021-03-03 17:34] #46 closed

[2021-03-03 17:35] yonatankahana commented on #50
@darkcloud784 can you please update if the problem solved for you?

[2021-03-03 17:36] yonatankahana commented on #38
the fix is available in the latest version.

/close

[2021-03-03 17:36] #38 closed

[2021-03-03 17:39] geoff-coppertop commented on #57
@yonatankahana Can a new release with the arm image be produced?

[2021-03-03 18:08] yonatankahana commented on #57
cc @kmova

[2021-03-04 02:34] thisisbenwoo opened #62 "[NOOB Question] Cannot see PV"
This is brand new to me. From reading the docs, I am deducting that when I deploy this as a Helm chart, that a PV should be created. (Perhaps this is where I'm going wrong). I see if that if I don't use Helm, that in step 4, I need to create my own provisioner. I used a variation of the test-claim.yaml as follows:

`kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: nfs
spec:
  storageCl

[2021-03-04 03:44] quickwind opened #63 "Proposal: add support to customize the labels and annotations for the resources (deployment, pod, etc)"
Currently user can't customize the labels or annotations to add additional ones.

[2021-03-04 07:00] guidtz opened #64 "Kubectl delete pv and pvc problem"
Hello,

  I installed and deploy pvc test and pod test but after I want to delete pv and pvc and they are not deleted. They remind in terminating state :

[code]

I have a debian 10 nfs server for nfs-storage.

Where is the problem ?

Regards

[2021-03-04 08:33] pierluigilenoci commented on #23
/remove-lifecycle stale

[2021-03-04 09:05] thisisbenwoo commented on #64
Has your deployment/pod terminated? If it hasn't the claim will remain in terminating until the deployment/pod is completed. Alternatively, if you want to force kill the PV/PVC, you can add --force to the command. YMMV.

[2021-03-04 12:34] guidtz commented on #64
@thisisbenwoo so stange now all is deleted ! I'll go to retest this later ! thanks for you're response

[2021-03-04 22:07] yonatankahana commented on #63
/assign

[2021-03-05 04:31] mustache1up opened #67 "Helm chart does not support parameter onDelete for the storageClass"
Hi!

Currently there is no way of setting storageClass' parameter `onDelete` when installing via Helm chart. Other params like archiveOnDelete and pathPattern are already configurable, adding this one would be quite useful.

Sincerely,
m.

[2021-03-06 18:55] Routhinator commented on #23
I believe the appropriate migration path for EFS is to mount the EFS storage via the universal DNS name and not the AZ specific name as per this documentation: https://docs.aws.amazon.com/efs/latest/ug/mounting-fs-mount-cmd-dns-name.html

`file-system-id.efs.aws-region.amazonaws.com`

There is also `availability-zone.file-system-id.efs.aws-region.amazonaws.com` for when you want to mount the files

[2021-03-07 05:47] Routhinator commented on #23
So I have tested this now - and it is working flawlessly for me.

Relevant terraform for the setup:

[code]

[2021-03-08 16:43] buccella commented on #62
1.  PVs are created on-demand after a PVC is created
2. The provisioner manages creation of PVs
3. A PV will be bound once a pod is created that uses a PVC

[2021-03-09 11:40] tobias-zeptio commented on #23
The info provided by @Routhinator was enough for me to migrate.

[2021-03-09 11:40] #23 closed

[2021-03-09 17:58] yonatankahana commented on #11
we do support arm64 and this issue is just old.
@codayblue if you still have trouble with the latest release and arm64 please open new issue.

/close

[2021-03-09 17:58] #11 closed

[2021-03-10 05:13] khalsa-ji opened #70 "PV provisioning fails for storageclass with volumeBindingMode as 'WaitForFirstConsumer'"
When using any storage class with volumeBindingMode as 'WaitForFirstConsumer', the nfs-subdir-external-provisioner fails to provision PV for the given PVC. The PVC remains in the 'Pending' state and gives the error: 'failed to get target node: nodes "worker07-dev-cluster" is forbidden: User "system:serviceaccount:nfs-test:nfs-subdir-external-provisioner" cannot get resource "nodes" in API group ""

[2021-03-10 13:15] geoff-coppertop commented on #57
Bump

[2021-03-11 15:42] harridu opened #73 "migrate from nfs-client-provisioner to nfs-subdir-external-provisioner"
What is the migration procedure from the deprecated nfs-client-provisioner to the new nfs-subdir-external-provisioner?

[2021-03-11 17:30] harridu commented on #73
Actually it was quite easy: Uninstall the old nfs-client-provisioner and install the new nfs-subdir-external-provisioner using the same command line arguments.

[2021-03-11 17:30] #73 closed

[2021-03-13 14:33] yonatankahana commented on #60
@mclosson-lsf
can you please participate in https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/65#pullrequestreview-605200817?
we need to make the README compatible with both v3 and v4 OCP

[2021-03-15 04:55] ngochieu642 opened #75 "MountVolume.SetUp failed for volume "nfs-subdir-external-provisioner-root" : mount failed: exit status 32"
- This seems to be similar to this [issue](https://github.com/kubernetes-retired/external-storage/issues/1240) in old repository
- I Install `nfs-subdir-external-provisioner` using `helm` following [this instruction](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner#with-helm)
- The exact command I used:
[code]
- The volume is always unmounted from any connected machines before ru

[2021-03-15 20:23] yonatankahana commented on #75
nfs server not allow ip's behind NAT to mount exports because it is insecure. if you want to disable that (not recommended in production tho) you can add `insecure` flag to the export.

from the [exports(5)](https://linux.die.net/man/5/exports) manpage:
[code]

[2021-03-16 02:52] ngochieu642 commented on #75
@yonatankahana Thank you. I tried it again with minikube in docker driver mode and everything works as expected

[2021-03-16 03:35] #75 closed

[2021-03-17 17:08] yonatankahana commented on #50
that's because v4.0.1 isn't officially released yet. we are working on it. follow #76

[2021-03-17 17:17] yonatankahana commented on #50
yep

/close

[2021-03-21 15:53] #67 closed

[2021-03-22 21:51] mustache1up commented on #50
let's try again?

/close

[2021-03-24 01:56] kmova commented on #50
#76 is merged.

[2021-03-24 01:56] #50 closed

[2021-03-24 07:54] svasseur opened #78 "Using multiple NFS server"
i want use 2 NFS server, with helm i launch
the first nfs-client

`helm install nfs-subdir-external-provisioner nfs-subdir-external-provisioner/nfs-subdir-external-provisioner \`
` --set nfs.server=172.20.20.93 \`
`--set nfs.path=/nfs`

and another

`helm install nfsbis-subdir-external-provisioner nfs-subdir-external-provisioner/nfs-subdir-external-provisioner \`
`    --set nfs.server=172.20.20.39

[2021-03-25 17:50] #14 closed

[2021-03-26 17:28] bretm opened #80 "Cannot create volumes on OKD4.7 + FCOS 33"
I'm trying to get this stood up and working on a newly installed OKD/OpenShift 4.7 cluster using an external NFS server.  The storage class is there, the replicaset fires up a pod, but when I fire up a test claim, I get:

`E0326 17:06:38.369380       1 controller.go:966] error syncing claim "3845c38b-be19-49a1-b941-b32d978edd82": failed to provision volume with StorageClass "nfs-client": unable to

[2021-03-27 06:35] guidtz opened #81 "Repository certificate problem ?"
Hello,

 I have a certificate error when I try to deploy

[code]
NB I have same problem with git clone, I could force it but how to force it with Kubernetes ?

Regards

[2021-03-27 07:16] guidtz commented on #81
Sorry It's a problem in my server with ntp clock drift ...

[2021-03-27 07:16] #81 closed

[2021-04-01 06:56] ChrisHaPunkt opened #84 "[Enhancement] Make use of CSI Volume Health Check coming to beta with K8s 1.21"
Hi all,

it would be awesome if the provisioner could make use of this new feature as described here:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1432-volume-health-monitor#motivation

[2021-04-01 17:38] andreasgremm opened #85 "clusterrole.yaml not complete, access to nodes are missing"
I needed to add the following to the cluster-role to get pvc's bound.
Header of cluster-role:

[code]

I added the following:

[code]

Before adding the nodes resources the following error was received:

[code]

[2021-04-02 09:49] #10 closed

[2021-04-02 19:06] bretm commented on #80
This wound up being that the operator had picked up an NFS volume due to me not yet providing a block-based storage class.  The persistent volume claim expects block, and the lack of supplementalGroups seems to have been what killed the claim on subsequent postgres pod restarts.

[2021-04-02 19:06] #80 closed

[2021-04-05 15:30] yonatankahana commented on #85
duplicate of #70

[2021-04-05 15:33] yonatankahana commented on #84
sounds like csi drivers feature and not provisioner responsibility

[2021-04-05 15:42] yonatankahana commented on #78
sorry but i am not sure that i got what is your question
please show your volumes and pvc's and try to explain a bit more :)

[2021-04-05 15:45] yonatankahana commented on #64
once the pvc is bounded, its out of the provisioner responsibilities
could be bug but not here

[2021-04-05 15:49] svasseur commented on #78
i try to install and use 2 nfs server, but all pvc request go to the first nfs server only

[2021-04-05 15:51] yonatankahana commented on #62
buccella's sums it up great
@thisisbenwoo have you succeeded?

[2021-04-05 15:51] yonatankahana commented on #78
attach the yaml of your pvc's

[2021-04-05 15:59] svasseur commented on #78
[nfsbis.txt](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/files/6259039/nfsbis.txt)

[2021-04-05 16:04] yonatankahana commented on #78
please send yamls of both pvc's and both pv's

[2021-04-05 16:16] svasseur commented on #78
[nfs-subdir-external-provisioner.txt](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/files/6259103/nfs-subdir-external-provisioner.txt)
[nfs.txt](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/files/6259104/nfs.txt)
[nfsbis-subdir-external-provisioner-nfs-subdir-external-provisio.txt](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/files/6

[2021-04-06 13:40] ShamoX commented on #51
Hello,

Isn't this: https://serverfault.com/a/100628 could be a solution ? When provisioning a volume, you create a dedicated directory anyway. Then you just ensure the mount of a file with the right size.

I do agree that the PVC sizes are requests and not limits, but, since you can't limit others, you can't either guarantee the size requested...
Using mounted files on the NFS volume could allow

[2021-04-07 02:16] caihy05 commented on #25
@nealman13 感谢，添加apiserver配置成功解决问题
- --feature-gates=RemoveSelfLink=false

[2021-04-08 10:45] tulanian commented on #73
For PVs created with the nfs-client-provisioner, when the PVC is deleted will the backingstore directory be orphaned because the provisioner no longer exists?

[2021-04-08 20:37] kadirsahan commented on #25
it worked for me without running kubectl apply command

[2021-04-09 03:00] kmova commented on #73
@tulanian -- as long as the storage class name is the same - it will be deleted.

[2021-04-09 03:15] kmova commented on #62
@thisisbenwoo - you need to run the provisioner prior to creating the PVCs. Either create using the YAML (kubectl apply ) or helm chart.

[2021-04-09 05:31] achernev commented on #25
I had it working with:
[code]
Chart version 4.0.6 and app version 4.0.1 as reported by `helm search repo nfs-subdir-external-provisioner`.

[2021-04-09 14:00] sifotes commented on #5
Yes, it seems like that. A quick test shows that this works for my use case. I think @moikot would agree this can be closed.

[2021-04-09 17:01] thisisbenwoo commented on #62
Thank you all. It worked!

[2021-04-09 17:01] #62 closed

[2021-04-10 02:00] msau42 opened #86 "Don't use staging registry as stable images"
Container images in the staging registry are only for dev/CI purposes and automatically get deleted after 30 days.

Official images should be promoted from staging to the release repository when new releases are cut.

/assign @kmova

[2021-04-10 08:08] yonatankahana commented on #86
@kmova if there is anything i can do to help, please let me know

[2021-04-11 00:12] m4dm4rtig4n opened #87 "Plex can't write /config on NFS"
Hello,

I try to enable persistence config on NFS but Plex don't right to write on /config :/

I have create NFS with nfs-subdir-external-provisioner :
[code]

I have create volume + claim :
[code]

Change values.yaml of Plex.
[code]

And i have always this errors :
```PMS: failure detected. Read/write access is required for path: /config/Library/Application Support/Plex Media Server```

Any Idea

[2021-04-11 04:02] kmova commented on #86
Thanks, @msau42!

@yonatankahana, could you please raise a PR to promote with the steps outlined here.
https://github.com/kubernetes/k8s.io/tree/main/k8s.gcr.io#image-promoter

[2021-04-11 22:02] #87 closed

[2021-04-12 01:58] Zhang21 opened #88 "Can run 2+ replicas?"
default replica: 1
want repicas: 2+
problem: If the k8s node(nfs-subdir-external-provisioner on it) is down，the nfs-provisoner storageclass can't use.

So, can change 1 replica to 2+ replicas to avoid nfs-provisoner temporary unavailable?

[2021-04-12 14:39] yonatankahana commented on #86
follow: https://github.com/kubernetes/k8s.io/pull/1917

[2021-04-13 14:00] azui007 commented on #25
it work for me ,thank you

[2021-04-13 14:04] petermicuch commented on #25
No more workarounds please :-) - this issue was closed for a reason guys! Just use new available docker image: `gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:v4.0.0` and it works fine. Do not edit kube-apiserver.yaml, there is no need to.

[2021-04-14 16:36] #86 closed

[2021-04-21 11:04] psalkowski opened #91 "Helm does not support archiveOnDelete when setting pathPattern"
I do overwrite values like:

[code]

But because of pathPattern (maybe because of subdirectories?), it does not archive it. When creating claim and pod, the directory for the claim is created. When removing the claim (and pod), directory is still there. I would assume that there will be something like `archive-default/claim-name`, but nothing happened.

Example pod:
[code]

Example claim:
[code]

[2021-04-23 07:00] hzliangbin commented on #88
@Zhang21 hi, maybe there is a issue you can refer to  #19

[2021-04-25 01:26] Zhang21 commented on #88
2 replicas no error, close issue.

[2021-04-25 01:26] #88 closed

[2021-04-26 02:50] paddy-hack commented on #73
For the record, I didn't feel like uninstalling so I tried an upgrade with
[code]
where the values file looks like
[code]

Since that didn't quite succeed, I deleted the StorageClass and tried again
[code]
and confirmed that all PersistentVolumes and PersistentVolumeClaims were still there and functional.

[2021-04-28 07:33] mcgizmo opened #93 "nfs-subdir-external-provisioner NFS user and password"
I need provide user and password for NFS server,
How I can do it via nfs-subdir-external-provisioner helm chart,
I do not see such an option this chart.

Thanks,
Alex

[2021-04-28 09:01] circulosmeos commented on #88
Hi @Zhang21
Could you please elaborate on this?:
Does #19 resolve your issue? That is, two replicas implies full availavility even if one pod fails, bearing in mind that they are running in leader/wait configuration.

Have you tested speed of down/up cases?
Are the second pod always started on a different node of the cluster?

Greetings!

[2021-04-28 13:25] egara opened #94 "nfs-subdir-external-provisioner as DaemonSet instead of Deploymet"
Hi!

First of all, thank you very much for this amazing project.

We are deploying this controller and we are seeing that, although replicaCount is set to a greater number than 1, all the replicas could be deployed on the same node. The problem is when this node is down. If it happens, all the applications deployed and dependent on the controller will fail until new pods of the controller are recr

[2021-04-28 13:47] yonatankahana commented on #94
another possible solution is to apply [pod anti-affinity](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/).

[code]

if you don't want to require it but just prefer it, you can use `preferredDuringSchedulingIgnoredDuringExecution` instead.

[2021-04-28 19:28] egara commented on #94
Hi @yonatankahana and thank you very for your response.

Question: Can these values be changed within values.yaml of the Helm chart used to deploy the controller or is it necessary:
- first: deploy the controller using the default Helm chart
- second: edit the Deployment and add those values?

Thanks again :)

[2021-04-28 20:00] yonatankahana commented on #94
@egara the example ive shown is how to do it in helm values.yaml. you don't need to edit those values after deployment, just add it to your values.yaml and install.

[2021-04-29 09:24] egara commented on #94
Ok, thank you very much @yonatankahana :)

Quite new to Helm. I'll test it and if there is any problem, I re-open the issue.

[2021-04-29 19:16] #70 closed

[2021-04-29 21:31] matusnovak opened #95 "pod has unbound immediate PersistentVolumeClaims"
Can't get it to work. The `test-pod` fails with:

I have done the following:

### 1. I have exported it as NFSv4 in `/etc/exports` as:
[code]
### 2. I have verified that this NFS export works by connecting to it from another machine and I am able to create files in it.
### 3. I have used Helm to install it and provided the following parameters:
[code]
The nfs pod is running. `describe pod` output:

[2021-04-30 10:05] yonatankahana commented on #95
can you show us the provisioner logs by `kubectl -n default logs nfs-subdir-external-provisioner-797d858c5c-zvrvb`
and maybe also the PVC description by `kubectl -n default describe pvc test-claim`

[2021-05-01 15:38] gvital3230 opened #96 "Is helm chart contains updated image tag"
Hi!

Is it possible that helm chart contains image tag, that does not correspond repo tag?

Because I see [4.0.2](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/ae50b6da6c35d7c90187527cae96d780f55dbbec/charts/nfs-subdir-external-provisioner/values.yaml#L6) in values.yaml and this feature is not work for me

https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner

[2021-05-01 15:57] yonatankahana commented on #96
You need to differentiate between versions of the helm chart and versions of the provisioner itself.

provisioner [v4.0.2](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/releases/tag/v4.0.2) released in 27 March and the commit you showed merged on 31 March and not yet released as official version.

you can see all the provisioner chagnes in the [CHANGELOG](https://github.com/ku

[2021-05-01 17:25] gvital3230 commented on #96
Oh, I see. Thanks!

[2021-05-01 17:25] #96 closed

[2021-05-02 09:29] nkaplatt commented on #73
Just to chime in, did a very similar process to @paddy-hack and seems to have worked out okay.

[2021-05-02 16:46] matusnovak commented on #95
Hi @yonatankahana Thanks for the reply. Here is the output:

[code]

[code]

I am just a beginner when it comes to Kubernetes. It looks to me that it is expecting a different name. It's expecting `managed-nfs-storage` as defined in `deploy/test-claim.yaml`.

I have renamed the property `storageClassName` in `deploy/test-claim.yaml` to `nfs-client` and the test-pod was able to deploy and start succ

[2021-05-03 15:35] isgo-golgo13 opened #97 "Add podSecurityContext and container level securityContext in the Helm chart"
In attempt to add heredoc values for the nfs-external-provsioner there is no support in the Helm template and corresponding values.yaml to inject the podSecurityContext and securityContext (for the container spec) at this time. If you can update the nfs-external-provisioner to include this template.

[2021-05-03 23:52] fbrier opened #98 "Wrong directory path used resulting in permission denied for persistent claim"
I followed the [Helm Readme](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/charts/nfs-subdir-external-provisioner/README.md) and installed the provisioner.
[code]
An ext4 partition was mounted at /microk8s-nfs owned by root with a group of microk8s with write access. Is that correct? NFS is configured to export the /microk8s-nfs directory. Included are excerpts of

[2021-05-04 13:21] fbrier commented on #98
I don't exactly how this provisioner works but if it is mounting the /microk8s-nfs onto the mount point /persistentvolumes, then the mkdir is correct. I tested the NFS permissions by mounting the NFS partition on another machine and was able to create a directory as a normal user.
[code]
I then mounted the NFS partition locally using the loopback interface, and created a directory with a normal us

[2021-05-04 20:09] yonatankahana commented on #98
no. because inside the container, your export `/microk8s-nfs` is mounted on `/persistentvolumes`.
the problem is that the provisioner don't have access to create the folder in your `/microk8s-nfs` export.
look at `stat /microk8s-nfs` on the nfs server host machine and `id` from inside the provisioner container (using `kubectl exec`) and you will be able to figure out why the permissions denied.

[2021-05-04 22:02] fbrier commented on #98
I cannot seem to spin up a shell in the pod to run id or mount. This command does work for the ingress-nginx-controller. Again, this is on a bare metal microk8s install.
[code]
Might this indicate the source of the problem? On the host machine:
[code]

[2021-05-05 05:30] prashanthb-ai commented on #18
@yonatankahana I think this issue is still useful. Any idea what's required to support ROX? I want to ensure users don't clobber a dataset I export. Rather than trusting them to set RO on their containers, I'd rather export the data as RO. I want to force them to snapshot before editing. Any idea how this might be achieved?

[2021-05-05 16:43] yonatankahana commented on #18
I did not get to test it yet but i believe we can add `ro` flag to the PV mountOptions when `ROX` is required and it should cause it to be mounted as read only always.

just note that it is not possible to use the current mountOptions field in the helm chart because these flags also apply to the provisioner itself and if you put `ro` there it will not be able to create folders...

what do you thin

[2021-05-05 16:59] yonatankahana commented on #98
not all of them have bash specifically, use `/bin/sh` instead.

if you don't care about security, just change the permissions with `chmod -R 777 /microk8s-nfs`. if you do care, find out what user your pod is running with by running `id` inside the proviosioner container and change the ownership with `chown -R uid[:gid] /microk8s-nfs`

[2021-05-06 12:44] fbrier commented on #98
The good news is I was able to get redmine up and running. As suggested, I opened the permissions all the way. I'm not sure why it failed, but I removed the provisioner and reinstalled it. Then the claims worked. Then there was another issue, where redmine was trying to do chown on the persistent store and being NFS it failed. So I added the no_root_squash to the /etc/exports and it worked. Not id

[2021-05-08 17:06] betonmoewe opened #99 "how to change the old nfs provider to the new one on a cluster with allready mounted NFS PVCs?"
Hi,

is there a way to replace the old provider with the new one for a running cluster with already existing NFS PVCs? Or simply delete helm chart and roll out the new one (the names remain the same of course) ?

_Originally posted by @petermicuch in https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/25#issuecomment-818762464_

[2021-05-08 20:35] petermicuch commented on #99
You can just use new provisioner without any need to worry about existing volumes. Provisioner just provisions volumes for you. Once they are created, they would work even if you would delete nfs provisioner.

[2021-05-10 08:25] betonmoewe commented on #99
Hi

thanks for your answer ... but ... where are the information stored how to deal with deleted pvc s  like  the onDelete  or archiveOnDelete option? If I delete the old one and install the new (with the same StarageClass Name etc) the old pvcs are then still treated normally as desired?
It's a semeproductive Cluster and I don't want to loose any pvc

Best regards

Frank

[2021-05-10 08:58] petermicuch commented on #99
My assumption is, that as long as you keep the same provisioner name reference in the SC, it also handles events for PVCs that were created by the old version of provisioner (so make sure env variable `PROVISIONER_NAME` in old and new provisioner version are identical). There is no other link between PVC->SC->provisioner other than then its names and annotation in PVC `volume.beta.kubernetes.io/st

[2021-05-11 17:01] #60 closed

[2021-05-12 06:48] zippyopstraining commented on #44
Hi Mr. Therc, actually let me explain my issue. I have my application which is running in NS1. That NS1 application has pv,pvc .Now i want to use the data  of NS1 application in application of NS2 with new pv, pvc (like clone the NS1's pv). Is there any way?. You said that we can do "https://github.com/kubernetes-retired/external-storage/issues/1210#issuecomment-626232371"  .There you mentioned ,w

[2021-05-12 09:35] websi96 commented on #51
Did someone try to use XFS on the NFS Server for quotas already?

[2021-05-13 06:54] quickwind commented on #63
@yonatankahana , thanks for the support, seems we still have the deployment template not covered, currently it is only using "nfs-subdir-external-provisioner.selectorLabels" which doesn't include the user defined labels, is there a reason why it is excluded?

[2021-05-13 17:47] yonatankahana commented on #63
there is a [reason](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/72#discussion_r594247776) but when i am thinking about it now - i am not satisfied with the solution. ill fix that.

/reopen

[2021-05-13 18:29] yonatankahana commented on #93
there is no way to do that since afaik nfs does not support username/password. and it will be a very vulnerable to use password in mount options. use firewall or with `/etc/exports` [machine filters](https://linux.die.net/man/5/exports) instead.

[2021-05-16 09:50] mmontes11 opened #101 "Unable to expand PVC"
After successfully created a Persistence Volume Colain, I've edited it in order to request more capacity, but I am noticing this error:

[code]

[code]

Is the dynamic volume expansion currently supported?

[2021-05-16 18:40] devrck commented on #5
I can confirm it works for me if I specify the `pathPattern`.

[code]

[code]

[2021-05-20 12:02] darpan91 opened #102 "nfs-client-provisioner Pod are getting failed"
We have install & confgured NFS server and created a storage class for NFS dynamic storage provisioning in Openshift.
We have followed the steps mentioned in the below IBM technote for NFS client provisioning:
https://www.ibm.com/support/pages/node/6356629
NFS is installed on barematel outside of ibm cloud.
managed-nfs-storage created successfully. nfs-client-provisioner Pod are getting failed wit

[2021-05-20 16:15] GP-1994 opened #103 "NFS provisioner installation issue"
Hi Team,

While installing NFS provisioner, the status is shown as Deployed as shown below. But I couldn't see any pods running under the namespace. Kindly help to fix this issue.

**Status**:
Name : nfs-subdir-external-provisioner
Namespace : default
Status: deployed
Revision: 1

**Issue**:
No resource found in default namespace

[2021-05-20 16:22] yonatankahana commented on #103
can you show us the output of `kubectl describe all -Al chart=nfs-subdir-external-provisioner`?

[2021-05-20 16:28] mirisu2 opened #104 "mount: wrong fs type, bad option, bad superblock"
Hello
I have deployed a nfs-subdir-external-provisioner. But kubectl shows pod stuck in **ContainerCreating** status.
[code]

In the **kubectl describe** output I see error.
[code]
NFS server is available and works properly.
[code]
How can I resolve this issue?

[2021-05-20 18:06] mirisu2 commented on #104
Run this command on each worker node:
[code]
After that, pod runs successfully.

[2021-05-20 18:06] #104 closed

[2021-05-21 04:41] GP-1994 commented on #103
While running this, the output was "No resource found".

[2021-05-21 13:57] yonatankahana commented on #103
yes, my bad: `kubectl describe all -Al app=nfs-subdir-external-provisioner`

[2021-05-30 11:31] ErikEngerd opened #106 "Support NFS with FS-Cache caching"
For simple deployment scenario's using an on-premise kubernetes cluster with kubeflow, NFS can be used to manage storage. However, for machine learning workloads, large datasets must read repeatedly as part of training. This makes the overhead of NFS too big. But, NFS support caching using the fsc mount option in combination with the cachefilesd daemon.

See for example the [redhat documentation](

[2021-05-30 12:18] ErikEngerd commented on #106
Please cancel this issue. I had a wrong idea of how it worked. In fact the NFS client provisioner 'just' mounts NFS partitions on the node to a local directory to be mounted in a pod. Then configuring the fsc mount option on the NFS provisioner fixes the issue.

Using the helm chart, I now use the option '--set nfs.mountOptions={fsc}' and it works.

[2021-05-30 12:18] #106 closed

[2021-06-01 15:37] prashshr opened #107 "Update documentation for deployment with Helm"
1.  When following the documentation [by Helm](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner#with-helm) step-by-step, it runs into the state where `storageClass.provisionerName` mismatches for,
_managed-nfs-storage_ (`k8s-sigs.io/nfs-subdir-external-provisioner`) and _nfs-client_ (`cluster.local/nfs-subdir-external-provisioner`).

[code]

**Working**:
[code]

2. The Helm insta

[2021-06-02 11:09] robinelfrink opened #109 "Cannot identify provisioners from mountpoint"
We're running several instances of nfs-subdir-external-provisioner, and use Prometheus node-exporter to gather metrics.

Since every instance has a volume named `nfs-subdir-external-provisioner-root`, we cannot identify which metric belongs to which provisioner, without looking up the pod's uuid.

Example mountpoints, as they end up in Prometheus:

[code]

It would be nice to have each instance ge

[2021-06-02 14:28] ahgraber commented on #91
I am also having this issue.

[2021-06-03 16:03] #19 closed

[2021-06-03 16:38] koivunen commented on #101
There is a similar issue from 2019 on the old repository that says it is not supported: https://github.com/kubernetes-retired/external-storage/issues/1235#issuecomment-542043620
I also could not find any code regarding storage expansion still. I also just tried myself and got the same error.

[2021-06-07 20:52] JDSQ opened #112 "Failure to install with nfs mount options"
I issued this command:
[code]
And received this error:
`Error: template: nfs-subdir-external-provisioner/templates/storageclass.yaml:28:19: executing "nfs-subdir-external-provisioner/templates/storageclass.yaml" at <.Values.nfs.mountOptions>: range can't iterate over nfsvers=4.1`

What should I be doing?

[2021-06-09 06:51] nikos445 commented on #102
any luck? i have same issue

[2021-06-09 15:20] yonatankahana commented on #102
hi @darpan91, can you show us `kubectl describe all -Al app=nfs-subdir-external-provisioner` output?
plus, can you make sure that you can manually mount the exported folder on the host machine?

[2021-06-09 15:30] yonatankahana commented on #112
`nfs.mountOptions` is a list, which means you need to use the `{}` symbols (as described in [The Format and Limitations of --set](https://helm.sh/docs/intro/using_helm/#the-format-and-limitations-of---set)):

[code]

[2021-06-12 05:59] Slyke opened #113 "How to mount to an existing directory?"
Hello,

Having trouble figuring our how to mount to an existing NFS directory. I have a K3s setup with a bunch of Raspberry Pis and a Synology NAS with NFS. I have successfully setup provisioning so that each pod gets some storage space on the NAS. A folder is automatically created, that I can use to house the files that the pods need.

Now here's my problem: I can't figure out how to set it up so

[2021-06-12 07:04] Slyke commented on #113
Figured out a easy way:
[code]

[2021-06-12 07:04] #113 closed

[2021-06-13 15:09] #109 closed

[2021-06-21 21:02] yonatankahana commented on #107
/assign

unfortunately we can not change the default in values.yaml because it will break compatibility for users. i think we should just recommend doing the solution you did and offering `k8s-sigs.io/nfs-subdir-external-provisioner` as the recommended provisionerName in the readme.

[2021-06-23 04:07] borch84 opened #114 "ExternalProvisioning persistentvolume-controller waiting for a volume to be created, either by external provisioner "k8s-sigs.io/nfs-subdir-external-provisioner" or manually created by system administrator"
Hi, I am trying to create a pvc but I get this message:

[code]
These are the storage class, provisioner status and pvc:

SC:
[code]

Provisioner pod:
[code]

PVC:
[code]

I was able to mount the nfs exported folder into one of my workers nodes.

Let me know if you find something incorrect.

Cheers.

[2021-06-23 16:37] yonatankahana commented on #114
how did you install the provisioner? via helm? if so, it might be a duplicate of #107 and you need to add `--set storageClass.provisionerName=k8s-sigs.io/nfs-subdir-external-provisioner` to `helm install`, e.g:

[code]

[2021-06-24 08:35] whaleBoot opened #115 "Ignoring the PVC: didn't find a plugin capable of expanding the volume; waiting for an external controller to process this PVC."
Hi, I am try to resize my pvc, but pvc size not change.

 Warning : Ignoring the PVC: didn't find a plugin capable of expanding the volume; waiting for an external controller to process this PVC.

thx.

[2021-06-24 08:49] whaleBoot commented on #115
[issues](https://github.com/kubernetes-retired/external-storage/issues/1235
)

@wongma7 : the nfs-client-provisioner is not capable of expanding volumes. In fact, it does not enforce the size of volumes at all, so a PV that says 1Gi may in fact have contain/write more than 1Gi of data in its path. AFAIK, there is no standard quota/limit mechanism for NFS. Apologies if this is not clear.

[2021-06-24 08:53] whaleBoot commented on #115
This means that as long as my NFS server has enough space, my application is not limited by the size of the PVC ?

[2021-06-24 14:26] Raskosk opened #116 ""onDelete: Delete"-Flag don't work"
Hello,

I'm trying to use the nfs-provisioner with 2 storage-classes:
The first for persistent data, independent from the container's lifecycle (onDelete: retain) and the second for transient data, depending from the container's lifecycle (onDelete: delete).

For the second one, in case of deleting the PVC (and the PV), I expect PVC, PV and the Files on the NFS-Server to be deleted.
But actually,

[2021-06-24 20:49] yonatankahana commented on #115
yes, the pvc size is not enforced. no expansion required.

[2021-06-24 22:32] #41 closed

[2021-06-25 00:35] whaleBoot commented on #115
thanks

[2021-06-25 00:35] #115 closed

[2021-06-25 03:29] quickwind commented on #63
@yonatankahana will this change be merged soon?

[2021-06-25 18:48] yonatankahana commented on #63
cc @kmova

[2021-06-27 16:35] bohnejoe commented on #36
/close

it works for me now with the following helm parameters:
[code]

Thanks alot :)

[2021-06-27 16:35] #36 closed

[2021-06-29 03:52] #63 closed

[2021-06-29 17:04] pkwestm commented on #101
Wouldn't a option be to simply add a nop function to handle this scenario?

To work around the issue that a PVC can grow outside the requested limit we created a script on that runs on the fileserver that polls the k8s api server for size of PVC and updates XFS quota on each pvc dir accordingly. It would be good if the nfs-client could allow for resize of PVC to allow a quota change on the server-

[2021-07-01 16:38] starypatyk opened #118 "How to install multiple instances of the provisioner in a cluster"
It is not obvious how to install multiple instances of the provisioner in a cluster (e.g. pointing to different NFS servers or exported directories).

By trial and error I have found that there are two pre-requisites, at least when installing with Helm.

1. Different names must be used for StorageClasses. This is quite easy to figure out since the storageClassName attribute in the PVC is used to i

[2021-07-03 14:42] Raskosk commented on #118
If you want to use multiple instances, you need to understand the following:

Seperating by addressed NFS-Servers (e.g. you want to address 2 different NFS-Servers for 2 different use-cases) -> separate deployment.yaml + separate StorageClass.yaml
Separating by lifecycle behaviour (e.g. some PVs should be transient/deleted after Pod is deleted and some other should be persistent) -> separate Stora

[2021-07-05 07:46] ronanb3 opened #119 "Add 2 command lines in the documentation"
Hi,
you should add these 2 lines which are missing in the documentation

[code]

[2021-07-05 10:56] abrakhim opened #120 "Pod won't start if nfs-commons are not available on cluster nodes"
Hello,

i installed nfs-subdir-external-provisioner via helm3 on a 3-node-microk8s-Cluster. The Provisioner pod failed to start with this message in Events:

[code]

This was fixed by installing nfs-commons package on all nodes, but it should be mentioned as a prereq in the install notes.

[2021-07-07 16:47] alessio4tech opened #122 "PVs not created on EFS"
version: v4.0.2
installation method: manual (no Helm chart)
K8s version: EKS 1.19

Issue:

the NFS provisioner claims to have created a volume in EFS:

I0707 16:38:11.043204       1 controller.go:1317] provision "default/test-claim" class "managed-nfs-storage": started
I0707 16:38:11.054723       1 event.go:278] Event(v1.ObjectReference{Kind:"PersistentVolumeClaim", Namespace:"default", Name:"test

[2021-07-07 21:20] timothyclin commented on #120
replicated the issue on my micro3ks cluster running 64bit ubuntu on RaspberryPi 4b

kubectl describes of the nfs-subdir-external-provisioner pod

Events:
  Type     Reason       Age                 From               Message
  ----     ------       ----                ----               -------
  Normal   Scheduled    117s                default-scheduler  Successfully assigned default/nfs-subdir-

[2021-07-09 05:59] #122 closed

[2021-07-09 14:40] droctothorpe opened #123 "EFS Access Points"
Has anyone successfully used `nfs-subdir-external-provisioner` with an EFS access point? I want to mount as user 1000 and EFS defaults to 0. Access points theoretically solve this problem, but when I pass the access point via mountOptions in the storageClass, the pod fails to mount the EFS volume.

[2021-07-09 23:47] #31 closed

[2021-07-10 11:07] Justin8303 commented on #101
Hey, can you share this script with me?
I am searching for a solution to this problem for ages now and couldn't find one.

[2021-07-11 07:04] #44 closed

[2021-07-14 22:09] jwangatabsolute opened #124 "Need a flag to opt out path suffix"
User needs to have an option to be able to mount to an existing directory without the suffix:
`pvName := strings.Join([]string{pvcNamespace, pvcName, options.PVName}, "-")`
Currently there is the option `storageClass.pathPattern` but specifying an empty string does not remove the suffix, according to this code:
https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/cmd/nfs-

[2021-07-16 22:35] droctothorpe commented on #123
Solved with the EFS CSI driver.

[2021-07-17 16:11] #13 closed

[2021-07-20 06:05] nareshpandianpc commented on #115
what was the solution for  that ?

[2021-07-21 21:57] saulobejo opened #126 "Azure NFS does not allow mounting subdir - NSEP fails when storage-path is not "./""
Hello,

Azure NFS does not allow mounting subdir

When storage-path is not "./", NSEP appends the path to the mount string causing it to fail

[code]

If I mount `STORAGE.blob.core.windows.net:/STORAGE/CONTAINER/` it works perfectly

If I mount `STORAGE.blob.core.windows.net:/STORAGE/CONTAINER/FOLDER` it obviously fails (due to azure's fault)

If I override the path (using `pathPattern`) and set i

[2021-07-23 17:32] unreal-altran opened #127 "Delete and/or Archive does not work with nested directory in pathPattern value"
Hi,

nfs-subdir-external-provisioner works well with all plain combination of pathPattern value,
but in cases of nested directory ​​its deletion / archiving fails  (creation of the folder continues to work well)

Example...
**NOT WORK**

**WORK**

Error in nfs-subdir-external-provisioner pods is:

[2021-07-26 16:24] olifly opened #128 "Helm: ReclaimPolicy for the nfs-subdir-external-provisioner pv is set to the same as the generated StorageClass."
Hi.

The `persistentVolumeReclaimPolicy` for the nfs-subdir-external-provisioner PersistentVolume is set to the same value as the  `reclaimPolicy` for the generated StorageClass (`.Values.storageClass.reclaimPolicy`in values.yaml).

Our storage setup, especially some older kubernetes cluster we have, is so that we would like to have these as different values (storageClass = Delete and PV = Retain)

[2021-07-28 12:43] ptitvert opened #129 "Permission problems"
Hello,

I don't know if that's the correct place to ask my question, please advice me where is the correct location, in case this is not it.

Our problem is the following, we have an external NFS server using V4, the ID for the files/directories are UID=56008 and GID=56001.
We configure the "nfs-subdir-external-provisioner" like that:

[code]

That works correctly, then we have another pod where w

[2021-07-31 22:26] sysadmiral opened #131 "example in deploy/test-pod.yaml not working on rpi4"
Hi,

I was running through the tests for once you have setup the nfs-provisioner in a cluster but the `test-pod.yaml` test seems to fail silently.

`test-pvc.yaml` successfully creates a pvc and I can see in events/describe that it gets used by the pod but the pod status is `FAILED` with not much more info.

[2021-07-31 22:26] sysadmiral commented on #131
Argh. After submitting this I immediately spotted the issue. I will submit a PR.

[2021-08-02 14:34] itsvshreyas opened #133 "How do we delete EFS access point data using nfs provisioner?"
We're using NFS Provisioner to provision AWS EFS (PV & PVC) dynamically. Now, when we delete PVC and PV, even though the reclaim policy is set to Delete, access point data does not get deleted from EFS. I'm basically referring to this issue with the usage of NFS Provisioner and not EFS CSI - https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/411.

NFS Provisioner Version - v3.1.0-k8s1.11

[2021-08-02 18:15] itsvshreyas commented on #133
Does "onDelete: delete" work for v3.1.0-k8s1.11?

[2021-08-03 12:29] ptitvert opened #134 "How to use mountOptions with Deployment templates?"
Hello,
We use such template:

[code]
With the following StorageClass:

[code]

with the following pv claim

[code]

The mount in pod:

[code]

I don't know where to put the "nfs.mountOptions", I've tried in several location, and none works.

[code]

I've checked the file "charts/nfs-subdir-external-provisioner/templates/deployment.yaml" and I don't see any mountOptions in this file. But since I am

[2021-08-04 14:04] #98 closed

[2021-08-05 01:19] ANGkeith commented on #133
Can't get this to work for v4.0.2-k8s1.19.6 too.

Did you manage to get it to work ?

[2021-08-05 01:38] ANGkeith commented on #133
not sure if we are facing the same issue but

[code]

[2021-08-05 10:41] stevensea-r opened #135 "volumeexpansion doesn't work."
Hi,
I installed the NFS storage class on Rancher. But when I try to update my deployment with more space on PVC with volumeExpansion. The PVC capacity is still shown (1Gi) no change. But when I open and check the PVC YAML file. I see the requests: storage: change to 2Gi already.
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: nfs

Please help me w

[2021-08-05 16:47] ptitvert commented on #129
Hi,
I have found the problem, our installation of K8S doesn't run 'idmapd' on the worker node.
And in addition to that, the people in charge of the k8s cluster are not willing to do a "systemctl start idmapd" or change anything in the image at all... so all the benefit of NFS V4 is not there.

So how can we use your project if we cannot use 'idmapd' on the worker node?
Or do we need to downgrade a

[2021-08-05 16:52] ptitvert commented on #134
I found the solution by myself, since nobody was interested in that question/issue.
I will write it here, so it might help some helpless soul like myself:

In the storage class, you need to add the following options:

[code]

So simply add the "mountOptions" in the storageClass yaml file.

[2021-08-05 16:52] #134 closed

[2021-08-09 12:33] fuerer commented on #127
the basePath could be the problem:
[code]

If I am not wrong, the directories in between are lost like that, maybe something like this would work (not sure though I am not a developer):
 `  basePath := strings.SplitN(path, "/", 3)  # when path is something like /nfsshare/subdir/pv
`

[2021-08-12 03:54] noyessie opened #136 "NFS Credentials"
Hi

My NFS server needs credentials ( for security reason ). Is there a way to specify the NFS credentials ?

Thanks.

[2021-08-12 20:33] jaymiracola opened #137 "Create NFS folder without UUID"
Is there a way to have the provisioner create folders in the NFS share without a UUID?

[2021-08-14 06:40] gdcplasf opened #138 "kubelet Unable to attach or mount volumes：timed out waiting for the condition"
i use this
[code]
and now

[code]

[root@master redis]# kubectl describe pod nfs-subdir-external-provisioner-77664cc7-nw5sq -n default
Name:           nfs-subdir-external-provisioner-77664cc7-nw5sq
Namespace:      default
Priority:       0
Node:           node01/192.168.81.91
Start Time:     Sat, 14 Aug 2021 14:08:23 +0800
Labels:         app=nfs-subdir-external-provisioner
                pod-tem

[2021-08-17 13:45] willzhang commented on #5
why i failed
[code]

[2021-08-18 09:55] fluxens commented on #95
The values.yaml contains  `name: nfs-client`, but it should be ` name: managed-nfs-storage`. As such using the helm chart for installation and trying the test files will always fail.

[2021-08-18 09:56] fluxens commented on #95
/remove-lifecycle stale.

[2021-08-20 06:24] #138 closed

[2021-08-29 01:02] kmova commented on #136
This is currently not supported @noyessie @shengzhou1216. This provisioner depends on the kubernetes in-tree "nfs" volume. This feature could be better implemented on the new NFS CSI driver.

cc: @msau42

[2021-08-29 01:03] kmova commented on #137
@jaymiracola - can you provide the commands that allow you do this?

[2021-09-01 09:23] ChenZheOnePiece opened #139 "nfs provisioner delete my other file"
mysql nfs share folder  /opt/share  have more other file, nfs provisioner create folder by pathPattern ,but  /opt/share other folder
why  Deleted  ,

[2021-09-02 16:54] #84 closed

[2021-09-02 16:54] #85 closed

[2021-09-02 16:54] #64 closed

[2021-09-02 17:55] #78 closed

[2021-09-04 04:11] #131 closed

[2021-09-09 14:31] QuingKhaos commented on #128
Same problem here. The root PV for the provisioner should be retained, while the default reclaimPolicy for the dynamic PVs created by the provisioner should be Delete.

[2021-09-09 16:43] olifly commented on #128
I can implement this feature and make a pull request if the maintainers of this repository want :)

[2021-09-09 22:03] yonatankahana commented on #128
we will :)
contribution is always appreciated :+1:

[2021-09-09 22:06] yonatankahana commented on #135
please note the footer of the readme for the new section `NFS provisioner limitations/pitfalls`

they cannot be expanded and anyway, their size not enforced:

[2021-09-09 22:11] yonatankahana commented on #129
Hi,
did you try the solution with downgrading to nfsv3 protocol?
you should be able to done it pretty easily with `mountOptions` and `nfsvers=3`

[code]

did it worked?

[2021-09-09 22:16] yonatankahana commented on #139
hi @ChenZheOnePiece, can you please elaborate?

[2021-09-11 07:02] chtourou-youssef opened #141 "nfs-subdir-external-provisioner'pod restart always"
the pod restart himself always

`nfs-subdir-external-provisioner-d4cc4755c-8h5sm   0/1     ContainerCreating   20            41h`

when checking the description de pod :
[code]

i want to know why the pods is killed ? i've already  Sufficient Memory, RAM and Disk in each of my 3 nodes

[2021-09-13 07:53] robertofabrizi commented on #114
I installed it via yaml and I seem to be stuck at the same _waiting for a volume to be created, either by external provisioner "k8s-sigs.io/nfs-subdir-external-provisioner" or manually created by system administrator_

[2021-09-13 15:32] mattrpav commented on #112
FYI-- I ran into this, and putting the quotes around the value works for me.

`    --set nfs.mountOptions="{rw,sync,vers=4.2,proto=tcp,soft,retrans=3,timeo=100}" \
`

kubectl get sc..

`
...
mountOptions:
- rw
- sync
- vers=4.2
- proto=tcp
- soft
- retrans=3
- timeo=100

...
`

[2021-09-16 06:30] sayali-bhavsar opened #142 "Cannot Mount to NFS Server."
Cannot mount to NFS-Server
I followed  following steps:

### Step1: Install NFS Server

Install NFS and Create a NFS Server.

[code]
Create a directory which allocates a local file system for the Persistence Volume Claims.

[code]
Edit the exports file

In the file /etc/exports contains a table of local physical file systems on an NFS server that are accessible to NFS clients.
Edited the exports f

[2021-09-17 01:25] Odysseas640 opened #143 "AWS EC2 compatibility"
Hi everyone,
I have a Kubernetes cluster that I set up with kubeadm on AWS EC2 with 3 Ubuntu 20.04 virtual machines. I have a 4th that's not part of the cluster, and I'm trying to use it as an NFS server. I can mount the remote directory fine in all 3 nodes of the cluster, but the NFS provisioner is in a crash loop.

I have made the same cluster on my PC with VMware Workstation virtual machines, a

[2021-09-22 03:56] karezza opened #145 "File locking issues?"
I think I'm running into some file locking issues when using the nfs-subdir-external-provisioner.  The nfs share is on a recent centos-8-stream build and supports version 3 & 4 of nfs.

Has anyone else run into this?  Is there something I need to enable to ensure only version 4 is used on the client side?

A container I've found has the following on its site:
[code]

Could this warning still apply

[2021-09-22 09:00] irfanrizkiantopratama opened #146 "Status running but check log failed"
![image](https://user-images.githubusercontent.com/15191232/134314322-3750e635-1660-4992-876b-a1e0ca15277b.png)

hi l always like this I don't know what's wrong , this default configuration change path and add namespace and then like then can u suggest me something

[2021-09-22 09:02] irfanrizkiantopratama commented on #142
same with me

[2021-09-22 11:57] james-d-elliott commented on #145
This is likely an issue with NFS as a protocol itself, it doesn't support fcntl locking as far as I am aware. It has its own method to perform locks and many products just don't support this.

However you have control over the NFS server configuration, as well as the client configuration. You can specify the mount options for nfs-subdir-external-provisioner after all.

[2021-09-22 13:36] colearendt commented on #102
/remove-lifecycle stale

[2021-09-22 13:38] colearendt commented on #102
@darpan91 "Connection timed out" is usually a networking issue - you should be sure that your kubernetes nodes have access to your NFS server.

[2021-09-22 14:08] karezza commented on #145
Thank you, based on your feedback I have modified a couple storage classes with mount options.  Now I get to figure out how to fix all my pvcs that I allocated without them.

The mount options weren't mentioned on the main page, or in the deploy/storage.yaml.  I wonder if it might be a good idea to modify the deploy/storage.yaml with lines such as these:
[code]

This way, folks will consider what

[2021-09-22 16:40] yonatankahana commented on #142
please make sure that `nfs-utils` is installed on all nodes and the command `mount.nfs` is accessible

[2021-09-22 21:03] yonatankahana commented on #146
next time please attach the text, not a picture please

it is probably permissions of the exported folder (`nfs.path`), change its permissions with `chmod` to 777 and try again.

[2021-09-23 08:00] irfanrizkiantopratama commented on #146
im sorry im trouble again sir always like this  ?
touch: /k8s-nfs/SUCCESS: Read-only file system in the nfs dynamic pod appear but there is no content
should im check first ?

[2021-09-26 03:27] AlyssaBetty opened #147 "StorageClass set claimPolicy: Delete,when i delete all pod,it can not delete pvc and pv directory"
My StorageClass yaml is:
[code]

I have set parameters.onDelete = delete ,and set reclaimPolicy: Delete,when I removed all the pods that used SC to automatically generate PVC,but my pv directory can not be delete and it seemed that directory have been saved。what show i do？

[2021-09-26 06:18] stoneshi-yunify opened #148 "disable allowVolumeExpansion by default in helm chart"
nfs provisioner doesn't support expanding volume, as the [readme](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/README.md#nfs-provisioner-limitationspitfalls) states. Therefore we should set the allowVolumeExpansion to false in values.yaml by default.

[2021-09-26 06:19] stoneshi-yunify commented on #148
if you confirm this is an issue, could you please assign it to me to fix? thanks.

[2021-09-28 16:51] robkooper opened #149 "not possible to use pvname in pathpattern"
Looking at the default pattern it uses `${.PVC.namespace}-${.PVC.name}-${pvname}`. it is possible to get both the namespace and the name of the PVC, but not the name of the PV. Is it possible to make this a variable that can be accessed.

I noticed that the variables are set in https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/cmd/nfs-subdir-external-provisioner/provis

[2021-09-29 10:42] rageshkrishna commented on #95
Just ran into this myself. Changing `managed-nfs-storage` in the [test-claim.yaml](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/deploy/test-claim.yaml#L6) to `nfs-client` got it to work.

I'm not sure if this is supposed to be fixed in the chart or the test files, but it definitely makes the first-run experience less than ideal.

[2021-09-29 14:45] pauloalima opened #150 "nfs-subdir-external-provisioner does not deploy on microk8s"
I tried deploying with helm3, using the yaml files and also rebuild on my local machine but all these attempts failed the same way.

The pod Neve comes up, I noted the following errors:
kubectl describe pod nfs-client-provisioner-6ddd8b7dc4-mwcwp
Name:         nfs-client-provisioner-6ddd8b7dc4-mwcwp
Namespace:    default
Priority:     0
Node:         tranbics-hub/192.168.102.221
Start Time:   Wed,

[2021-10-03 12:28] redhat-demo opened #151 "Does nfs external provisioner support volumesnapshotclasses"
hello, I want to qustion that does nfs external provisioner support volumesnapshotclasses currently?

[2021-10-03 20:31] #128 closed

[2021-10-03 20:40] yonatankahana commented on #97
/reopen

[2021-10-04 11:51] Odysseas640 commented on #143
I solved it, it was probably because the required ports were not open from the AWS console. My advice is, start with all ports open, from 1 to 32767, and when everything is working, then start closing them for security.

[2021-10-04 11:51] #143 closed

[2021-10-07 11:03] #99 closed

[2021-10-20 11:34] fsckzy opened #152 "Error: failed to download "nfs-subdir-external-provisioner/nfs-subdir-external-provisioner" (hint: running `helm repo update` may help)"
How to solve it?
[code]

setp:
[code]

[2021-10-26 11:42] MeranaTona opened #153 "Integrating multiple NFS Server"
Hi all,

im new to this topic and not sure if my understanding is corrent. In K8s I would like dynamically provide access to storage of two NFS servers. Those two severs are not part of the K8s cluster. Each server is running on its own host.

Following your documentation, in K8s, I would start a NFS privisioner for each NFS Server by running this command:
[code]

So eventually, I would end up wit

[2021-10-30 16:00] #91 closed

[2021-11-01 16:48] Opulski commented on #127
Could be solved by replacing the nfsProvisioner.path in the PV Path by the mountpath like this:

[code]

[2021-11-02 21:29] #97 closed

[2021-11-02 21:42] QuingKhaos commented on #149
@robkooper What's your need for the PV name in the path pattern?

[2021-11-02 21:50] robkooper commented on #149
I have a PR ready, and a signed cla by the University.  Should be able to submit something soon.

[2021-11-03 13:16] robkooper commented on #149
My need is to be able to :

1. recreate the same pattern that is used by the provider
2. make sure that my name is unique across different installations of the PVC

For example in my case I'd like to use `{.PVC.namespace}/{.PVC.name}/{.PVC.volume}` as the unique name for the folder where the files will be stored.

Looking at the code it is a simple fix, I have something that should work, waiting f

[2021-11-05 23:40] sam-sre commented on #142
I am having the same issue when using the Ubuntu 20.04 as base image for K8s nodes, but when using debian10 it works just fine !

Any ideas why?

PS: in both cases I am installing the `nfs-common` package in all nodes

[2021-11-11 16:43] h0jeZvgoxFepBQ2C opened #155 "Do I need an IP for the NFS server? Wouldn't it be better if there is just the service used?"
Right now we are trying to set the nfs-subdir-external-provisioner up, but it doesn't work, since we try to use just the service name (in our case nfs-server-provisioner.nfs-server-provisioner (ns: nfs-server-provisioner)).

But it says it can't find the server, even though I can ping it from some other pods via ```ping nfs-server-provisioner.nfs-server-provisioner```?

Any ideas?

[2021-11-12 03:17] cleverlzc commented on #25
the same error, trying

[2021-11-12 16:21] #112 closed

[2021-11-12 18:05] thomaspaulin opened #158 "Permission denied when trying to dynamically provision a PersistentVolume (mkdir /persistentvolumes subdirectories)"
I'm running into permission denied errors when trying to dynamically provision PVs using this provisioner.

Running using default PV and PVC all works as expected, but as soon as a storage class is added to allow for dynamic provisioning problems arise.

I installed the provisioner using Helm with the following command:
[code]

And added the following PVC:
[code]

Which yields the following ` kube

[2021-11-15 06:44] pkwestm commented on #101
remove-lifecycle rotten

[2021-11-15 21:05] deeco commented on #114
Did you get this sorted ? provisioner pod deploys no issues , when try deploy using dynamic get same error. tried setting the default storage class to no avail, moved to different namespace also, is there a role or permission missing ? if I put incorrect or invalid nfs path in provisioner path it fails so know the provisioner is able to mount nfs path and permissions no issue

`I installed it via

[2021-11-15 22:01] slaterx commented on #73
For those who landed here looking to do this migration without helm, I just replaced the old image URL with `k8s.gcr.io/sig-storage/nfs-subdir-external-provisioner:v4.0.2`.

That worked for both upstream nfs-client-provisioner AND the one available on Quay (quay.io).

[2021-11-16 11:47] deeco commented on #114
My issue is resolved , reference old image , updated image to latest gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:v4.0.2

[2021-11-17 17:31] jaredpricedev opened #159 "matchLabels support"
Is there a reason why matchLabels is not supported? I looked around the issues and couldn't find anything.

I've been trying to figure out a way to add labels to created PVs so they can match with the PVCs if they get recreated. If there is another way to accomplish this please let me know.

I did find this in the retired section:
https://github.com/kubernetes-retired/external-storage/issues/875

[2021-11-18 22:19] #107 closed

[2021-11-19 08:43] saulobejo commented on #126
/remove-lifecycle rotten

[2021-11-19 10:23] abdennour commented on #25
same error
[code]
my env:
- k8s: 1.20
- helm chart stable/nfs-client-provisioner 1.2.8 ( app versopn 3.1.0)

[2021-11-19 10:40] petermicuch commented on #25
@abdennour - you should read the comments above. This issue is closed and there is new helm chart and new container image existing that fixed this issue. Please try to update with [helm](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/charts/nfs-subdir-external-provisioner/README.md).

`helm repo add nfs-subdir-external-provisioner https://kubernetes-sigs.github.io/n

[2021-11-19 11:00] abdennour commented on #25
Thank you  @petermicuch
It's working BUT I think it requires a doc for migration.
So far there are 2 steps before applying helm:

1. if you are using private/proxy registry make sure to point to the new image in gcr instead of the old one in quay.
2. delete MANUALLY 2 resources : the storageclass & the deployment

Then run helm apply

[2021-11-19 11:28] petermicuch commented on #25
@abdennour - feel free to create PR with your migration description, I think maintainers will accept it if it adds value to the community. But please create separate feature request for that one. Thank you.

[2021-11-21 17:40] ilmal opened #160 "Error getting server version: Get "https://10.96.0.1:443/version?timeout=32s""
Heyo,

I've been using this for a while now without any problems, but all of a sudden my pod kept on crashing and spitting out the err message:

`F1121 17:35:15.868874       1 provisioner.go:247] Error getting server version: Get "https://10.96.0.1:443/version?timeout=32s": dial tcp 10.96.0.1:443: i/o timeout
`

What should I do to fix this?

Thanks

[2021-11-23 09:15] Bo-Zi commented on #102
Yes, you should be careful with NFS-server version and parameters.
Running:
`rpcinfo <NFS.server.addr>` from any host in the LAN, or
`rpcinfo` directly at the NFS-server, and
`mount <NFS.server.addr>:</nfs/exports/dir> /tmp/nfstest -v` with "-v" parameter from any node,
 might be very helpful while debugging.

Here is an extended solution to overcome NFS protocol incompatibility:
https://github.co

[2021-11-23 21:05] #116 closed

[2021-11-24 13:38] vishveshv commented on #152
This chart installation is still failing. The download link is broken for all the versions. Is there any workaround?

[2021-11-26 17:23] aintbrokedontfix opened #161 "RKE2 [FailedCreate] pods "nfs-client-provisioner-57cc4b4c94-" is forbidden: PodSecurityPolicy: unable to admit pod: []"
I get the following error when trying to deploy the provisioner on RKE2. The RKE2 deployment is configured as "permissive/unrestricted". However, the provisioner does not start.

pods "nfs-client-provisioner-57cc4b4c94-" is forbidden: PodSecurityPolicy: unable to admit pod: []:Deployment does not have minimum availability.

[2021-11-29 13:50] Gui13 commented on #101
Up, we are interested in this too !

[2021-11-30 16:34] #118 closed

[2021-12-02 08:58] #119 closed

[2021-12-04 22:19] #120 closed

[2021-12-06 06:25] TheMeier commented on #120
/reopen

[2021-12-06 19:14] droctothorpe commented on #123
Reopening this because it's actually not so simple with the EFS CSI driver. Any plans to make this application compatible with EFS access points?

[2021-12-07 13:45] RaviKishoreKota commented on #114
I am also getting same message.
waiting for a volume to be created, either by external provisioner "k8s-sigs.io/nfs-subdir-external-provisioner" or manually created by system administrator.
persistentvolumeclaim/test-claim   Pending                                      managed-nfs-storage   11s
Please help me

[2021-12-12 00:34] #124 closed

[2021-12-16 20:46] gajda-b opened #164 "Installation with helm and without is not coherent - different StorageClass name"
Not big issue but it waste some time while testing.

The StorageClass in Helm installation = nfs-client while in "Without Helm" installation = managed-nfs-storage

When user install with Helm and try to test it there is no description for it, so it may take the testing part from "Without Helm" section but it ends with (obvious) error:
`Warning  ProvisioningFailed  3m20s (x42 over 13m)  persistentv

[2021-12-28 17:16] ParameshP45 opened #165 "Is this nfs provisioner supports ipv6!"
We are moving our K8S cluster to ipv6 Only environment. Do we need to do any changes in nfs provisioner deployment file to make it work for IPv6 and to provision PVC.

[2021-12-28 19:06] yonatankahana commented on #164
/assign

[2021-12-28 19:07] ParameshP45 commented on #165
Error:

 Warning  FailedMount  62s (x7 over 11m)  kubelet  (combined from similar events): MountVolume.SetUp failed for volume "nfs-subdir-external-provisioner-root" : mount failed: exit status 32
Mounting command: systemd-run
Mounting arguments: --description=Kubernetes transient mount for /var/lib/kubelet/pods/75b0d8aa-28bf-4bd8-befb-db397b493712/volumes/kubernetes.io~nfs/nfs-subdir-external-pro

[2021-12-29 14:29] #101 closed

[2021-12-30 18:42] GuyPaddock commented on #136
/remove-lifecycle rotten

[2021-12-30 18:43] GuyPaddock commented on #136
This will become a lot more important with solutions that use NFS 4.1 with authentication (e.g. Qumulo).

[2022-01-02 02:04] #133 closed

[2022-01-04 12:15] possani commented on #91
/reopen

[2022-01-04 12:21] possani opened #167 "Helm does not support archiveOnDelete when setting pathPattern"
Hello everyone,

This issue was already described [here](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/91), but I could not reopen it.

Additional information about it:

Error:
[code]

This happens because [fullPath](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/eae7143d98f8613c1f29a82154e06063924f2e08/cmd/nfs-subdir-external-provisioner/provis

[2022-01-06 17:56] #165 closed

[2022-01-06 17:56] ParameshP45 commented on #165
it worked with "[ipv6-ip]"

[2022-01-09 13:45] dreske commented on #120
installing nfs-common on the node solves the problem for me

[2022-01-11 09:26] abinet opened #169 "Use provisioner for existing NFS shares"
Is it possible to use the provisioner for existing NFS shares?
I have an NFS server with folders configured already. All I need is to create PVs with server/path/mountingoptions dynamically from PVC without creating any subfolders folder in mounted volume. Is it possible with this provisioner?

[2022-01-26 00:19] vicyap commented on #169
Hi @abinet, I'm new to this project, but your question sounds very similar to something I was trying to do.

I'm curious what is the use case where you need to create PVs with server/path/mount-options dynamically instead of creating it once, statically, and sharing a PVC with all your pods?

[2022-01-26 02:28] #137 closed

[2022-01-26 10:20] abinet commented on #169
Hi @vicyap, thank you for the question.

I am aware about the discussions here:
https://github.com/kubernetes/kubernetes/issues/60729
https://github.com/kubernetes/community/pull/321#issuecomment-279822350

Hovewer, it is all regarding responsibilities: creating PVs manually must be done by cluster admin only. Creating PVs dynamically from PVC can be done by cluster user with namespace limited per

[2022-01-27 16:54] vicyap commented on #169
Is this project closer to what you're looking for? https://github.com/kubernetes-csi/csi-driver-nfs/tree/master/deploy/example

[2022-01-27 20:32] yonatankahana commented on #97
for the record, it is completed in #171 thanks to @danieljkemp

[2022-01-28 19:54] abinet commented on #169
unfortunatelly the csi-driver has same limitation- for every PVC it creates a subfolder in NFSs server shared folder and does not allow re-usage  of the existing one.

[2022-02-02 08:47] robertengelmann opened #172 "Add option to set volumeBindingMode"
Here is an idea for contributors to this project:
It would be nice to set the [volumeBindingMode](https://kubernetes.io/docs/concepts/storage/storage-classes/#volume-binding-mode) option on the storage class in the helm chart. For some deployments (e.g. [ECK](https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-storage-recommendations.html#k8s_storage_class_settings)) it is desireable to adjus

[2022-02-03 02:36] ZA-NVG opened #173 "Configure persistent volume Permissions / UID / GID upon Volume creation"
Default permissions for persistent volumes created by nfs-subdir-external-provisioner is root:root and 777(rwxrwxrwx).

is there anyway to restrict the permissions and user/group to something like user:user 770(rwxrwx---).?

[2022-02-03 22:58] gilesknap commented on #169
Hi, I've come looking for the same feature and my use case is as follows:

I have torn down my entire cluster and rebuilt it because I'm experimenting with IaC. I can recreate my deployments from YAML in a git repo. But I cannot reconnect them to the existing PVCs that are still on my NFS server. I would like to be able to update my deployments to have a permanent shared folder name so that re-cre

[2022-02-06 23:20] #129 closed

[2022-02-06 23:20] #135 closed

[2022-02-06 23:20] #139 closed

[2022-02-07 13:32] jurschel opened #174 "Images missing"
It appears that any image after 4.0.2 is missing?  Have they moved or have I made an error?  This was working a week or so ago as I deployed 4.0.14 just fine now I went to redeploy it this morning and find that they are all gone back to 4.0.2...

[2022-02-07 13:41] jurschel commented on #174
`podman pull --all-tags k8s.gcr.io/sig-storage/nfs-subdir-external-provisioner
Trying to pull k8s.gcr.io/sig-storage/nfs-subdir-external-provisioner:v4.0.0...
Getting image source signatures
Copying blob 9e4425256ce4 done
Copying blob 3edf8ea6fb70 done
Copying config 3beaacba3f done
Writing manifest to image destination
Storing signatures
Trying to pull k8s.gcr.io/sig-storage/nfs-subdir-external-p

[2022-02-07 20:29] yonatankahana commented on #174
hi @jurschel
the latest version of the provisioner is [4.0.2](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/releases/tag/v4.0.2), you may be confused with the helm chart version which is currently [4.0.15](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/releases/tag/nfs-subdir-external-provisioner-4.0.15).

[2022-02-07 21:50] jurschel commented on #174
Sorry for the mistake.

[2022-02-07 21:50] #174 closed

[2022-02-08 08:30] #141 closed

[2022-02-10 03:57] #164 closed

[2022-02-11 22:54] mattrpav opened #177 "DaemonSet vs Deployment"
Thoughts on using a DaemonSet vs Deployment as the default in the helm chart?

[2022-02-14 02:55] ZA-NVG commented on #173
Anyone have any idea on how to do set permissions / users / groups automatically?

I am able to set it manually by following this [Link](https://github.com/lorenzofaresin/nfs-subdir-external-provisioner/tree/configurable-mode-and-permissions), but will it be possible have it automated and permission configured to each individual user(e.g. UserA deploys PVC A,  PVC A permissions is automatically se

[2022-02-15 18:25] PhotoTeeborChoka commented on #150
The deployment on microk8s works in our case.

[2022-02-16 10:34] Goulart opened #178 "OKD4: must comment roleRef.apiGroup in both ClusterRoleBindings"
Hello.
While installing in

- OpenShift version 4.7.0-0.okd-2021-09-19-013247
- Kubernetes version v1.20.7-1330+bbbc0799c02950-dirty
- Channel stable-4

I struggled with errors:
`E0216 10:09:48.198329       1 reflector.go:178] pkg/mod/k8s.io/client-go@v0.18.0/tools/cache/reflector.go:125: Failed to list *v1.PersistentVolume: persistentvolumes is forbidden: User "system:serviceaccount:nfs-subdir-ex

[2022-02-20 16:32] ilmal commented on #160
The problem seemed to be from my networking pods not configured correctly. And so not from nfs.

[2022-02-20 16:32] #160 closed

[2022-02-21 12:55] colearendt commented on #102
/remove-lifecycle stale

[2022-02-23 06:02] #147 closed

[2022-02-23 08:03] #148 closed

[2022-02-26 22:21] Gisleburt commented on #142
I'm having the same issue (I think) in my raspberry pi cluster which is built on Raspbian 64bit (which I'm pretty sure is based on ubuntu still, despite the name change). My provisioner starts ok, and the PVC looks like it created the volume:

[code]

However, the pod fails to start:

[code]
All nodes have `nfs-common` installed and `mount.nfs` is available on them _however_, as an aside, I'm unsu

[2022-02-28 09:51] Gisleburt commented on #142
To test the NFS mount itself, I swapped the image in the deployment to alpine, added a sleep and exec'd in and could see the contents of the NFS volume. The only other issue where I might have messed up is with the service accounts which I'll test next.

[2022-02-28 15:25] agelosnm commented on #160
How exactly did you resolve the pods networking issues?

[2022-02-28 16:54] yonatankahana commented on #160
if you don't have CNI (e.g calico, flannel) installed then you should install one.

if you have CNI installed and it's not working, you should troubleshoot the problem depends on what CNI you have installed.

[2022-02-28 17:17] Gisleburt commented on #142
Well I think I found the problem after a bit of playing around.

I tried copying and pasting the exact mount options into an arbitrarily created container and it didn't work. I tried simplifying it as best as possible:

[code]

But I've definitely been able to connect before so I had a look at the instructions for my NFS server and spotted that sometimes they put the version number in 🤦🏻‍♂️
[code]

[2022-02-28 20:00] agelosnm commented on #160
@yonatankahana I'm using weave net as my pod networking solution. You think that this may be the issue? I will test with calico & flannel as well. Thanks anyway! 🥇

[2022-02-28 21:39] ilmal commented on #160
Hi!
Sorry for late reply.

The problem I had was with flannel networking and not with nfs at all. I later found out that none of my pods had internet access. And so, that is why I got this error.

It was a while ago, but if I remember correctly the problem I had was with taints and tolerations. I was messing around with these and put taints on a majority of the nodes. That lead to my networking po

[2022-03-01 08:44] agelosnm commented on #160
Hi!

No worries for the reply!

@yonatankahana comment "unblocked" me as I figured that the issue was related with the weave net. I installed calico in my cluster, and everything is working smoothly up until now!

Thank you both guys for your help!

[2022-03-02 14:37] #151 closed

[2022-03-03 13:02] IcoveJ commented on #114
I get the same problem, and idon`t know how to solve it

[2022-03-03 17:33] robkooper commented on #149
/remove-lifecycle rotten

[2022-03-10 10:12] anjia0532 commented on #126
/remove-lifecycle rotten

[2022-03-11 07:02] berthomas opened #180 "Can't connect to Pod/container using rsh"
Hello,

I tried to connect to the pod or container in the pod using "oc rsh" with no success.
The returned error is :

I understand that there is no shell inside the container but is there a way install the nfs provisioner with a shell inside?
I need that because i'm not root on the NFS, so i can't delete some logs files.
Thanks for the help.

Bertrand

[2022-03-15 08:29] umberto10 commented on #161
any update on this?

[2022-03-15 10:13] matan-michaely opened #181 "Add support for allowed topologies using helm chart"
When configuring nfs storage class , there isn't support for allowed topologies feature , [link](https://kubernetes.io/docs/concepts/storage/storage-classes/#allowed-topologies)

[2022-03-17 19:23] #150 closed

[2022-03-22 11:38] jeliseocd opened #182 "Support for "CSI Volume Cloning""
Is it possible to add the feature of PVC cloning? [https://kubernetes.io/docs/concepts/storage/volume-pvc-datasource/](url)

When I apply a new PVC with spec.datasource..., like:

[code]

* pvc-1 is a previously created PVC in the same namespace and with the same resources.

A new PVC (clone-of-pvc-1) is created but empty.

Thank you!

[2022-03-23 19:28] seru333 commented on #180
I am having this issue as well and my solution was to make a custom container and manually load it but when following the README instructions it fails because one of the vendor imports has changed and no longer has the function helper.GetPersistentVolumeClass

[2022-03-23 20:00] seru333 opened #183 "GetPersistentVolumeClass function removed from local vendor copy of https://github.com/kubernetes/kubernetes.git"
cmd/nfs-subdir-external-provisioner/provisioner.go imports k8s.io/client-go/kubernetes for certain functions, one is helper.GetPersistentVolumeClass and that function has been removed in the kubernetes update commit 20 days ago. This is needed to make build local and prevents creating a new docker image with bash capabilities.

[2022-03-25 09:34] #167 closed

[2022-03-26 10:57] #153 closed

[2022-03-26 18:58] yonatankahana commented on #153
just for the record, the solution is documented now in the chart readme, #166

[2022-03-28 08:39] cheeye commented on #183
the same issue here

[2022-03-31 09:38] zidoshare opened #186 "Is there a solution to the provisioned storage limit"
spec:
  limits:
  - type: PersistentVolumeClaim
    max:
      storage: 2Gi
    min:
      storage: 1Gi

[2022-03-31 18:02] jw-websensa opened #187 "Is it possible to set node affinity to pv?"
I have an NFS server, which I do not want to be accessible from all nodes in my cluster.
In general persistent volumes support node affinity, so is ti possible to set it for provisioner?

[2022-04-01 11:31] ppenzo commented on #169
I has the same need for both NFS and SMB protocols.

Whereas for SMB it is still a work in progress (see #https://github.com/kubernetes-csi/csi-driver-smb/issues/398), for NFS I've solved it by using the pathPattern parameter in the StorageClass definition and by mounting /persistentvolumes on an EmptyDir volume in the provisioner.

[2022-04-01 11:48] PeterGarner opened #188 "access denied by server while mounting"
Not sure why I;m getting an access denied.  I'm considering two reasons
1. The volume I'm using (NetApp nfs share) is already in use and I'm mounting the root which already has folders in it.  At the same time I have tested with creating an empty folder off the root and using the path to that in my deployment. Same error for both
2. In my standard PVs I always pass a number of mountOptions, includ

[2022-04-01 12:18] PeterGarner commented on #188
well it's obvious of course but I created a static pvc/pv for the deployment with the mountOptions in the pv and it looks good now

[2022-04-01 22:18] yonatankahana commented on #183
/assign

[2022-04-02 01:03] yonatankahana commented on #127
/reopen
/remove-lifecycle rotten

[2022-04-04 05:08] #183 closed

[2022-04-04 19:25] alteredtech opened #191 "[Question] Does nfs-subdir only support one path?"
Would I need a separate helm chart if I had another nfs share that I wanted to be mounted?

[2022-04-04 20:15] yonatankahana commented on #191
yes, another installation with a different storageClass and provisionerName is required, read more in [Install Multiple Provisioners](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/tree/master/charts/nfs-subdir-external-provisioner#install-multiple-provisioners)

[2022-04-07 10:26] torsten-simon commented on #142
For me, it helped to run this command inside all docker container rancher nodes:

`zypper -n in nfs-client`

(Rancher is based on Suse). After this and re-installing, it worked for me.

[2022-04-07 22:42] ArturZurawski opened #192 "AWS IAM access"
Did anyone succeed with using AWS roles to grant access to EFS (not to relay only on security groups)?

I tried helm values with:

[code]

and role with full access permission but it is not used by pod.

I also tried [Mounting with IAM authorization](https://docs.aws.amazon.com/efs/latest/ug/mounting-IAM-option.html) by providing following options to the helm chart:

[code]

Mounting arguments are

[2022-04-09 11:42] anjia0532 commented on #126
/remove-lifecycle rotten

[2022-04-11 20:52] #158 closed

[2022-04-12 20:33] winsyuan opened #193 "Image vulnerabilities found"
- In the image, a couple vulnerabilities related to tzdata package were found, was hoping these could get resolved, thank you!
- [DLA-2963-1](https://www.debian.org/lts/security/2022/dla-2963), [DLA-2797-1](https://www.debian.org/lts/security/2021/dla-2797)

[2022-04-13 14:22] koraykutanoglu commented on #186
hi, i need this too. I've been working on this lately. As a result of my research, I came to the conclusion that we need to configure the NFS server machine as XFS. However, it still needs help. How can we set a quota for PVC?

[2022-04-14 07:46] yonatankahana opened #195 "Wrong ServiceAccount name in README for OpenShift"
In the readme we give command to assign SCC to service account:

[code]

but in the helm chart we renamed the SA to `nfs-subdir-external-provisioner` long time ago.

to make it work, we need to change it to:

[code]

maybe different documentation for helm is required.

[2022-04-16 18:59] #159 closed

[2022-04-23 15:47] #152 closed

[2022-04-25 03:42] AlanObject opened #197 "NFS folder created but no SUCCESS"
I am attempting to run the test after installing the provisioner using the off-the-shelf scripts in this repository.  On the NFS server, the provisioned directory is created (suggesting that the NFS linkage is at least set up correctly) but the test pod can't mount it.

After applying the test-claim.yaml file, the following in the log of the provisioner.

[code]

I don't see any problem.  On the N

[2022-04-26 07:31] R-Hammer opened #198 "nfs-client-provisioner stuck in ContainerCreating / Warning FailedMount / Unable to attach or mount volumes: unmounted volumes=[nfs-client-root]"
Hey, I'm trying to install a nfs-client-provisioner and run a mongdb with it.
Unfortunately, the nfs-client-provisioner hangs in ContainerCreating and says "Warning  FailedMount  3m35s (x13 over 37m)  kubelet            Unable to attach or mount volumes: unmounted volumes=[nfs-client-root], unattached volumes=[nfs-client-root kube-api-access-lr9tl]: timed out waiting for the condition
".

The nfs

[2022-04-27 09:49] buding8 commented on #114
I get the same problem, and idon`t know how to solve it too

[2022-04-27 22:13] denismoc commented on #136
Commenting my support for getting authentication/credentials incorporated into this. I believe this will greatly improve the project.

[2022-04-27 22:17] denismoc commented on #136
/remove-lifecycle stale

[2022-04-27 23:23] #155 closed

[2022-05-05 20:15] #123 closed

[2022-05-07 11:21] #142 closed

[2022-05-11 07:29] PRNDA opened #200 "What's the differences between this provisioner and kubernetes-csi/csi-driver-nfs?"
I'm confusing....

[2022-05-11 20:07] cheepsoot opened #201 "Can multiple Storage classes be created?"
Hello,

I am wanting to create two different storageclasses with different types of storage(hdd, ssd), and I am wondering how this might be done using this external provisioner.  Can this be done by creating an additional storageclass or maybe an additional volume??  Or maybe somehow creating a new instance of the "nfs-client-provisioner"??

Thank for your response in advance.

[2022-05-11 20:15] yonatankahana commented on #201
yes - it can be done. you can export multiple paths in your nfs server(s) and install as many provisioners as needed, you can read more about it in the documentation about how to [Install Multiple Provisioners](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/tree/master/charts/nfs-subdir-external-provisioner#install-multiple-provisioners).

[2022-05-12 06:50] PraveenJP commented on #201
@yonatankahana without helm do you have any reference to install?

[2022-05-12 14:44] justas147 commented on #102
Can the timeout be cause by something other then networking? I'm also getting the `dial tcp 10.0.0.1:443: i/o timeout` error randomly, however k8s nodes can access the nfs server, they are in the same network and besides these restarts the provisioner works fine.

[2022-05-14 10:16] #161 closed

[2022-05-17 18:51] TiloGit commented on #198
@scmmmh,

I had similar issue.
The storage class is not used by the [deployment ](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/deploy/deployment.yaml)(for non-helm install), for helm use the `--set nfs.mountOptions={"nfsvers=4"}` so the deployment file will use a PV and PVC with mount options.

[2022-05-18 11:53] lauraseidler commented on #98
@fbrier did you ever manage to get a shell into the pod?

[2022-05-18 20:22] R-Hammer commented on #198
Thank you very mucht!

[2022-05-18 20:22] #198 closed

[2022-05-19 05:44] masteryyh opened #203 "provisioner pod failed to mount NFS volume"
I started a NFS server on a Proxmox host and trying to use this as my K8s storage on two ubuntu guests. After installing via Helm the pod didn't started, describe pod shows this:
[code]

I tried to mount NFS volume manually and it succeeded without any problems.
values.yml:
[code]

[2022-05-19 06:02] masteryyh commented on #203
I changed replicaCount to 2 since I have two nodes in the cluster, master node (untainted) can start container without issue but another node still has the same issue :(

[2022-05-19 06:13] masteryyh commented on #203
i just discovered that failed node have no nfs-common package installed, after `apt install nfs-common` and problem resolved lol. this issue can be closed now

[2022-05-19 06:13] #203 closed

[2022-05-20 21:00] cornfeedhobo opened #204 "Support restoring a volume"
### What I want

I'd like to be able to destroy a StatefulSet, then optionally un-archive the previous PVC directory and use it to satisfy the claim for a new StatefulSet.

### What currently happens

I have to re-populate manually on the NFS server

[2022-05-24 03:32] stoneshi-yunify opened #205 "the image has many vulnerabilities scanned by trivy"
[code]

[2022-05-25 03:28] humblec commented on #205
Sure.. will fix this @xing-yang

[2022-05-25 03:39] humblec commented on #205
@stoneshi-yunify can you try 4.0.16 which is latest..
https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/releases/tag/nfs-subdir-external-provisioner-4.0.16

[2022-05-25 03:48] james-d-elliott commented on #205
Isn't that a helm chart tag, not an image tag? Also that chart uses image tag `v4.0.2` which seems consistent with the trivy usage.

[2022-05-25 03:53] humblec commented on #205
Oh.. Looks like the image was not promoted in that case to the registry.. let me check and revert!

[2022-05-25 04:02] james-d-elliott commented on #205
Looks like `v4.0.2` is the latest published image by the way (not entirely sure what you meant by promoted, but guessing you meant it's not configured in the chart): https://k8s.gcr.io/v2/sig-storage/nfs-subdir-external-provisioner/tags/list

[2022-05-25 18:03] yonatankahana commented on #205
the latest provisioner version is `4.0.2`.
the latest helm version is `4.0.16` which defaults to `v4.0.2` image tag.

it seems that most of the vulnerabilities already solved in our `master` branch, but not yet released as an official image.

[code]

until an official version released, if you must, you can use the masters branch unofficial image: `quay.io/yonatankahana/nfs-subdir-external-provisio

[2022-05-29 02:51] BloodyIron opened #210 "Release Notes?"
Can we please get actual notes of what changed with each release in the GitHub Release Notes section? :)

Can't tell why I should upgrade with out it, really.

[2022-05-29 02:51] BloodyIron commented on #204
Yeah I'd like some sort of automatic mechanism to auto-unarchive or something like that.

[2022-05-30 19:48] yonatankahana commented on #210
we do have [`CHANGELOG.md`](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/CHANGELOG.md) to track changes in the provisioner itself.
most of the releases are helm chart releases (sometimes its just changes in the README), are you talking about change log for helm charts?

[2022-05-30 21:16] BloodyIron commented on #210
I'm talking about this page : https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/releases

[2022-05-31 04:46] gbulloch-edb commented on #173
/remove-lifecycle stale

[2022-06-01 18:55] yonatankahana commented on #149
/remove-lifecycle stale

[2022-06-06 18:40] kamalvf commented on #114
I'm using latest image 4.0.2 installed using Helm, facing same issue waiting for a volume to be created , not sure what the problem is

[2022-06-08 22:57] ouberlord commented on #114
I've been having the same issue.  I know the NFS share works, and have verified it as such.  Is anyone aware of a better guide for how to set this provisioner up?

[2022-06-09 01:55] npu21 commented on #186
hi @koraykutanoglu Does that mean this project doesn't support quota for PVC?

[2022-06-09 06:12] koraykutanoglu commented on #186
@npu21 yes it looks like that now. The quota cannot be set when you connect a PVC using NFS.

[2022-06-09 15:55] tinguin commented on #172
Think i can help out here. But first i try out and verify it works and check out the Contributor Guide and CLA.

/remove-lifecycle rotten

[2022-06-10 07:52] DesireWithin opened #214 "NFS provisioner pod status is not Running"
I'm using NFS provisioner `v4.0.0`

The pod of nfs provisioner status is `CrashLoopBackOff`

The `kubectl describe` shows the error message is
`error while creating mount source path '/var/lib/kubelet/pods/a0548f02-2830-4be3-9a65-8164403aa2ce/volumes/kubernetes.io~nfs/nfs-client-root': mkdir /var/lib/kubelet/pods/a0548f02-2830-4be3-9a65-8164403aa2ce/volumes/kubernetes.io~nfs/nfs-client-root: file

[2022-06-10 07:55] DesireWithin commented on #214
I just delete and create a new NFS provisioner,  and then issue fix.
I think the broken provisioner don't impact the exist PV or PVC

[2022-06-10 07:55] #214 closed

[2022-06-13 15:05] nicolasespiau commented on #93
I confirm we have a NFS server on prem that expects user/password, so NFS actually nfs does support username/password.

Is it possible to provide them through mountOption? If so, how?

[2022-06-17 19:59] MallocArray commented on #195
Agreed this is still an issue in the main README and is completely lacking in the helm chart README file

[2022-06-17 21:00] MallocArray opened #216 "OpenShift specific instructions need improvement"
1. As mentioned in https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/195 the service account listed on line 182 of README.md is not correct for a default installation using Helm, it is actually `nfs-subdir-external-provisioner` instead of `nfs-client-provisioner'

2. This section for the OpenShift permissions is also located under a Manual install, and since I was doing Hel

[2022-06-17 21:03] MallocArray opened #217 "Helm Chart defaults storageClass.allowVolumeExpansion to true when it is not supported"
As mentioned in the Helm chart README.md file, storageClass.allowVolumeExpansion is defaulted to `true` but the root folder README.md explicitly states in the limitations at the bottom of the file
`Storage resize/expansion operations are not presently supported in any form. `

As such, the Helm Chart should default to `false` so it is not falsely showing capabilities that are not supported. I did

[2022-06-17 21:12] MallocArray opened #218 "Helm Chart README does not list serviceAccount.name Default correctly"
In the Helm Chart README.md
https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/charts/nfs-subdir-external-provisioner/README.md

The Configuration table shows that `serviceAccount.name` has a default of `null` which is not accurate.  The values.yaml file mentions the current action `# If not set and create is true, a name is generated using the fullname template` which

[2022-06-25 22:15] vavdoshka commented on #169
@ppenzo can you please elaborate on your workaround?

I thought one can set `customPath` to an empty string to explicitly not create the directory, but it won't work:

https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/0bd4e87b346018eb588cf7e23e6962f195b68a0a/cmd/nfs-subdir-external-provisioner/provisioner.go#L105-L112

[2022-06-27 09:16] ppenzo commented on #169
@vavdoshka:
In the provisioner deployment (see: [https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/deploy/deployment.yaml](url)) mount /persistentvolumes to an ephemeral volume, i.e. put
[code]
in the deployment.
Then define the corresponding storageclass with these parmeters
[code]
Hence define the PVC with the annotation nfs.io/storage-path referring the NFS path on

[2022-06-28 20:22] vavdoshka commented on #169
thanks @ppenzo

Interestingly enough but with the last officially released version of the provisioner - `v4.0.2` works for me without the "ephemeral volume" patch. The behavior is if there is no `annotations.nfs.io/storage-path` in the PVC then no namespaced directory gets created, the PV is mounted to the root. But for sure that will not work starting with the version `4.0.8` because of this chan

[2022-06-30 08:41] yonatankahana commented on #205
follow #211

[2022-07-06 11:26] zelanastasia opened #222 "Subdir in mountPath"
Hello. I deploy provisioner using kustomization and all is good, but in PV's path is not that actually should be.
 There is deployment

But after deploy PV's has path like this

`    Path:      /mnt/k8s-nfs/podname-pv-pvc-6d003671-63e6-46be-b85e-d5658154fbd5`

Because of that pod's can't see what in  /mnt/k8s-nfs/, but can see what in /mnt/k8s-nfs/podname-pv-pvc-6d003671-63e6-46be-b85e-d5658154fbd

[2022-07-12 00:11] #177 closed

[2022-07-16 12:01] #178 closed

[2022-07-18 04:28] xamindar commented on #200
Thanks for the pointer. In my experience the difference is csi-driver-nfs works and this one does not.
This would only deploy on one node in my cluster and pods were unable to use this storage class in the test.

[2022-07-22 01:43] lnhrdt commented on #210
I'd also appreciate an explanation of changes for each release to help decide how much independent testing is warranted before I use a new release in production clusters. Even if it is just documentation updates etc it would be helpful to call that out.

Personally I looked for it in the GitHub Releases first, CHANGELOG.md second, and when I saw there were no notes for any recent releases I came h

[2022-07-25 03:16] PhillipDowney commented on #25
Worked for me also , Storage class definition simpler as well

[2022-07-26 00:31] BloodyIron commented on #210
Yeah I plan to keep up with this project as it's going to be core to infra I run. I really would like to know what each release has, and github release notes are a really great way to do that. I also don't use helm charts for my implementation.

[2022-07-28 14:48] nicolasespiau opened #223 "Ability to handle Kerberos auth"
Hello folks,

I can't see any information about nfsv4 and/or Kerberos auth anywhere.

I would like to use the helm deployment methodology (but I can switch to another one if required), but I can't find how to setup properly the kerberos keytab to allow mounts on our NFS v4 server.

Any hints?

Thanks a lot.

[2022-07-29 13:38] wbarnard81 commented on #114
I have the same issue. Trying to mount to an TrueNAS Scale NFS share.
It does seem that this uses NFSv3 and I wish they would mention this somewhere. Allas, if that helps someone to resolve the issue, it would be great.

[2022-07-29 16:30] BloodyIron opened #224 "Please list requirement "rpcbind""
Hey so I think it would be worthwhile to add a section in the readme.md for requirements and listing that "rpcbind" is required on nodes in the cluster that this will be operating in.

I could not get my NFS mount to happen until I installed rpcbind on all my nodes (running workloads). And all those are Ubuntu 22.04, which... for some reason... does not come with rpcbind.

Considering how prevalen

[2022-07-29 19:21] mattrpav commented on #177
/remove-lifecycle rotten

[2022-07-31 15:27] Gisleburt opened #225 "Does not create paths"
This could be a misconfiguration or misunderstanding on my part. I've gone with the manual setup.

When I add a new `PersistentVolumeClaim`, if the path that it will use does not already exist, then it fails to mount.

Pods fail to start, and using describe I get the following error:

[code]

If I go to my NFS server and manually create the path (eg, in this case `/homelab/dns/pihole/pihole`) then

[2022-08-03 22:38] datlife commented on #188
@PeterGarner What exactly did you change in your YAML file? I think I am running into the same issue

[2022-08-05 16:18] Lizalex-Systems opened #229 "--set nfs.mountOptions="nobrl" fails on helm install"
Hi - if --set nfs.mountOptions="nobrl" is passed to helm the install fails with an "unable to iterate over range nobrl" - is it just that I have the syntax incorrect or that the nfs.mountOptions does not support single word switches ( i.e. 'nobrl' ) and only named value pair settings ( e.g. 'nfsvers=3' ) ?

[2022-08-08 07:22] saulobejo commented on #126
/remove-lifecycle rotten

[2022-08-08 23:56] BloodyIron commented on #210
Hey so @yonatankahana changelog.md stopped getting updated... 17 months ago...

How about we get release notes in each release on the github page instead? That would help a lot more.

[2022-08-09 00:02] BloodyIron opened #230 "Explicit declaration, that can survive disaster recovery rebuild?"
So I quite like this nfs-subdir-external-provisioner, however there's part of my Disaster Recovery plan where I _THINK_ it falls short. Or maybe I don't know how to use it properly. Allow me to explain.

So I use argo-cd for my CD, it watches repos and deploys yaml code. Pretty common function.

I have a repo where all the "core" parts of the cluster (this is all self-hosted btw, on-prem, no publi

[2022-08-09 09:19] hillbun commented on #167
@possani  @humblec

is this issue solved with new release?

[2022-08-09 21:59] possani commented on #167
Hi @hillbun, I haven't tried the new release yet, but I'm watching [this PR](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/221).

[2022-08-12 11:28] #181 closed

[2022-08-19 05:42] hillbun opened #231 "question about tag of image k8s.gcr.io/sig-storage/nfs-subdir-external-provisioner"
I can just pull k8s.gcr.io/sig-storage/nfs-subdir-external-provisioner:v4.0.2

How to pull other version 4.0.17, 4.0.16, 4.0.15...?

[2022-08-19 13:38] #182 closed

[2022-08-20 21:56] #180 closed

[2022-08-23 06:26] notbucai commented on #126
hello，did you solve your problem. I have the same problem

[2022-08-23 07:14] notbucai commented on #122
hello, Did you solve your problem? I have the same problem.

[2022-08-23 09:14] crazyelectron-io opened #232 "No pod for nfs provisioner running after Helm install"
I have a K3s cluster (with 3 control/etcd nodes and 6 worker nodes). I deployed the NFS provisioner using the provided helm chart and changed the naming so I can start using multiple instances.
[code]
The test claim:
[code]
and the pod:
[code]
The storage class is created:
[code]
the PVC states:
[code]
and finally:
[code]
I noticed there is no NFS provisioner pod running as `$ kubectl get pods -A

[2022-08-25 09:49] hillbun commented on #231
any advice?

[2022-08-25 13:33] samuel-sujith opened #233 "NFS mount within K8s pods failing"
I am trying to get NFS share mounted into a k8s pod but its failing with the below error

mount.nfs: rpc.statd is not running but is required for remote locking. mount.nfs: Either use '-o nolock' to keep locks local, or start statd.

My deployment yaml is as below

[code]

I get this error message in the k8s pods for the provisioner

MountVolume.SetUp failed for volume "nfs-client-root" : mount fa

[2022-08-25 15:09] PhotoTeeborChoka commented on #158
A similar issue occured in our case:
[code]

In our case the NFS server was disconnected and reconnected. Any new PV could not be created and exhibited the above mentioned error. The solution was to restart the replicaset generated pod.

[2022-08-26 04:46] AskAlice opened #234 "variable subtitution in pathPattern"
I was hoping to use an annotation at times, but other times I would like it to fall back and instead use the pvc name.
[code]

or if the annotation is unset,
[code]

[2022-08-26 08:00] yokaimeow commented on #231
[4.0.17 Releases](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/releases/download/nfs-subdir-external-provisioner-4.0.17/nfs-subdir-external-provisioner-4.0.17.tgz)

[code]

tag version is v4.0.2

[2022-08-26 12:48] rmoreas commented on #167
unfortunately it's still not merged. Who can give this a push?

[2022-08-27 12:43] hillbun commented on #231
tag version is always v4.0.2?

[2022-08-27 18:05] BloodyIron commented on #204
I've honestly just switched to csi-driver-nfs, and I appreciate this project existing as an option, but the dynamic-only method here doesn't work for me. And it sure looks like there's no motivation for that to change for this project. Oh well.

[2022-08-30 02:26] #127 closed

[2022-08-31 02:35] hillbun commented on #167
@rmoreas   is fix is not released yet?

[2022-08-31 02:40] hillbun commented on #231
Can anyone give advice about image tag rule?

[2022-08-31 07:08] rmoreas commented on #167
[The change](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/221/files) is not yet [in the master branch](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/cmd/nfs-subdir-external-provisioner/provisioner.go#L149), so I suppose not.

[2022-08-31 07:12] hillbun commented on #167
may you help me to look at this issue?

https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/231

[2022-08-31 08:30] rmoreas commented on #231
Versions 4.0.17, 4.0.16, 4.0.15.. are versions of the helm chart, appVersion is still 4.0.2. See https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/charts/nfs-subdir-external-provisioner/Chart.yaml.

[2022-08-31 09:47] hillbun commented on #231
do you mean this image of k8s.gcr.io/sig-storage/nfs-subdir-external-provisioner version do not upgrade when new release https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/releases here?

[2022-09-02 16:11] yokaimeow commented on #231
Yes,image version is still 4.0.2

[2022-09-02 20:30] blieb commented on #233
You need to install the nfs client on your k8s nodes. On ubuntu/debian that is done by `apt install nfs-common`

[2022-09-04 23:24] #192 closed

[2022-09-05 03:29] hillbun commented on #231
how to get new version then?   if new feather released or bug fixed

[2022-09-05 07:30] rmoreas commented on #231
When there is a new version, the appVersion and image tag will be updated in the helm chart and the helm chart itself also get a version bump.

[2022-09-05 08:52] hillbun commented on #231
this repo release version is nfs-subdir-external-provisioner-4.0.17, but image tag is still 4.0.2.

How to update image tag version.

[2022-09-05 10:21] rmoreas commented on #231
@hillbun : see comments https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/231#issuecomment-1232630549, https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/231#issuecomment-1235679775

[2022-09-05 19:39] sassyn opened #235 "Understanding Question"
I just wonder what I'm missing here:

Say I have a master and a worker + NFS Server (we will call it storage)

Master and Worker have the NFS volume mount (via /etc/fstab) in /mnt/Storage.

What If I create the Persistent Volume in  /mnt/Storage?  Then to my understanding I don't need this addon.

If that is true, than what is the value of this module?
The only thing I can figure is that with the

[2022-09-06 14:02] cornfeedhobo commented on #204
/remove-lifecycle stale

[2022-09-06 18:25] GuyPaddock commented on #136
/remove-lifecycle rotten

[2022-09-07 01:55] hillbun commented on #231
@rmoreas   But I still do not understand how to upgrade image version to latest but not 4.0.2

please advice.

[2022-09-07 07:28] eumel8 commented on #235
The value is to have a NFS server "somewhere", like a Netapp or a Cloud NFS Service where this NFS client can connect to and the user can use this storage in a Kubernetes resource (PVC), provided by the StorageClass `nfs-client`

[2022-09-09 14:35] jw-websensa commented on #187
/reopen

[2022-09-09 16:50] fraenkel opened #236 "nfs chart drops all capabilities which may cause deletion failure"
We ran into an issue where root cannot delete files with the sticky bit set because CAP_FOWNER has been dropped.
The PSP drops ALL capabilities.

Our simple fix was to still drop ALL capabilities but allow FOWNER (in PSP) and add the FOWNER capability in the values.

I can send a PR if this sounds resonable.

[2022-09-09 22:33] #193 closed

[2022-09-14 19:41] WoodyWoodsta opened #237 "Provisioned PVs get a name which doesn't match the docs or the `pathPattern`"
When I create a PVC, the resulting PV is named `pvc-<uuid>` (for example, `pvc-2c1ac3ff-91d3-43eb-8fc9-48516629f44a`.

Setting `storageClass.pathPattern` (in the helm values) to `${.PVC.namespace}-${.PVC.name}` makes no difference.

Expected behaviour is deterministic and static PV names so that they can be referenced in PVCs across namespaces.

[2022-09-16 06:53] rg2609 commented on #115
@whaleBoot and @yonatankahana, what was the sol. to resolve this issue?

[2022-09-16 07:21] whaleBoot commented on #115
https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/115#issuecomment-867459750

[2022-09-20 16:05] nabiltntn commented on #237
@WoodyWoodsta I think the pattern is for the name of the subdirectory that will be created for the volume under the NFS share and not the name of the name PV resources.

[2022-09-21 12:23] WoodyWoodsta commented on #237
@nabiltntn That makes sense, thank you.

[2022-09-21 12:23] #237 closed

[2022-09-21 13:39] guilhermemalfatti commented on #231
@hillbun   v4.0.2 is the latest version.

[2022-09-22 10:01] 6rendel commented on #229
Same for hard or noresvport options

`Error: INSTALLATION FAILED: failed parsing --set data: key "hard" has no value (cannot end with ,)`

[2022-09-23 09:21] 6rendel commented on #229
@Lizalex-Systems

you can download the values file:
https://raw.githubusercontent.com/kubernetes-sigs/nfs-subdir-external-provisioner/master/charts/nfs-subdir-external-provisioner/values.yaml
fill all the details and instead of using all these --set just use -f values.yaml
It then installs just fine

hope that helps

[2022-09-23 23:16] drgroot opened #238 "Image unable to pull?"
[code]

seems the image is no longer available on the gcr?

[2022-09-24 01:22] #238 closed

[2022-09-24 21:44] Daxcor69 opened #239 "Error Pulling image from docker and kubernetes - Not Found."
The docker attempt is from a totally different machine on a totally different network.  They are not even in the same datacenter.

I tried different versions as well.

docker pull k8s.gcr.io/sig-storage/nfs-subdir-external-provisioner:v4.0.17
`
Error response from daemon: manifest for k8s.gcr.io/sig-storage/nfs-subdir-external-provisioner:v4.0.17 not found: manifest unknown: Failed to fetch "v4.0.

[2022-09-25 02:49] Daxcor69 commented on #239
newest available image is 4.0.2. Can you fix this please.

[2022-10-03 21:03] MohammedNoureldin opened #240 "Is ACL enabled when mounting?"
I am not sure if this issue is really relevant to the NSF Provisioner (execuse me if it is not).

Should ACL be enabled when I mount volumes provisioned by this provisioner? Apparently for some reason it isn't, because trying to set ACL on a file/folder on NFS mount

    setfact -m u:nobody:r </mount/nfs_mount/some_file>

throws:

[2022-10-03 21:10] MohammedNoureldin commented on #240
According to this example (where we add the mountOptions to the `pv`), this seems to be relevant

https://github.com/kubernetes/examples/blob/master/staging/volumes/nfs/nfs-pv.yaml

[2022-10-04 15:04] lievendp commented on #239
It appears I have the same issue, this is coming from K3s helm trying to get the same:
`+ helm_v3 repo add --ca-file /config/ca-file.pem nfs https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner
"nfs" has been added to your repositories
+ helm_v3 repo update
Hang tight while we grab the latest from your chart repositories...
...Successfully got an update from the "nfs" chart repository

[2022-10-07 16:32] tinguin commented on #172
/close with https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/215

[2022-10-07 22:51] AlanObject commented on #197
I have built an alternative solution that does not involve NFS.  Although the issue is not resolved there seems to be little point in leaving this thread open.

Other note:  NFS is as slow.

[2022-10-07 22:51] #197 closed

[2022-10-09 15:09] #187 closed

[2022-10-09 16:09] #102 closed

[2022-10-11 09:13] cheepsoot commented on #201
Thank you for the quick response!  I will give your link a read.  Much appreciated 😊

From: Yonatan Kahana ***@***.***>
Sent: Wednesday, May 11, 2022 4:16 PM
To: kubernetes-sigs/nfs-subdir-external-provisioner ***@***.***>
Cc: cheepsoot ***@***.***>; Author ***@***.***>
Subject: Re: [kubernetes-sigs/nfs-subdir-external-provisioner] Can multiple Storage classes be created? (Issue #201)

yes - it ca

[2022-10-12 21:22] alex-g-tejada commented on #186
Hey everyone,

curious about this too, is there a way to monitor and limit this kind of usage?

[2022-10-16 05:15] MatthewJSalerno commented on #169
This does work with the [cs-driver-nfs](https://github.com/kubernetes-csi/csi-driver-nfs) provisioner is you use the Static Provisioning config.  Their docs are pretty rough, but there's a decent example [here](https://docs.aws.amazon.com/filegateway/latest/files3/use-nfs-csi.html).

[2022-10-19 12:51] Abhilash-as opened #242 "Error getting server version error in nfs-subdir-external-provisioner"
Issue
![image](https://user-images.githubusercontent.com/28435089/196693753-0dbc8836-a122-44fb-b987-0a47936b8089.png)

Log

![image](https://user-images.githubusercontent.com/28435089/196694271-b21e7b22-6f27-4683-8dd0-086b0b156204.png)

While doing curl request  its working
![image](https://user-images.githubusercontent.com/28435089/196694520-d95dd6a7-effc-4e5a-a674-7ccfff5cd75e.png)

**Helm versi

[2022-10-21 09:43] 0Styless commented on #205
Is there anything new to this?
I saw there is a new helm release `4.0.17` but the image version is still on `v4.0.2`.

[2022-10-25 12:45] danieniemand opened #243 "ReclaimPolicy = Retain possible?"
Good day,

Is it possible to have the reclaim policy set to retain instead of Delete or Archiving with the word "archive" as prefix?

If so, can you share an example please?

Best Regards

[2022-10-26 03:59] bigbirdxixi commented on #233
thanks, I have solved this problem.
but why need node install nfs-common ？

[2022-10-28 06:19] #173 closed

[2022-10-29 20:33] #149 closed

[2022-11-05 02:25] donicrosby opened #244 "Provisioner cannot start or mount any NFS share after upgrading cluster"
I had a cluster running on 1.20.x (NFS Provisioner worked fine) I upgraded it to 1.24.x after the rollout no NFS shares could no longer be mounted.

Post upgrade when any pod tried to mount the NFS PVs provisioned by the provisioner they all failed. This is the error message from the provisioner deployment:

[code]

The NFS server is a bare-metal NFS server on the same local network as the k8s wor

[2022-11-06 16:58] #172 closed

[2022-11-07 16:43] joeltraber commented on #242
any news on this one? (I face the same)
thx!

[2022-11-07 16:50] joeltraber commented on #216
thanks for the great comments around ocp
How did you manage that error during startup of the pod:
F1107 16:49:00.327637 1 provisioner.go:247] Error getting server version: Get "https://x.x.x.x:443/version?timeout=32s": dial tcp x.x.x.x:443: connect: no route to host

[2022-11-08 07:12] Abhilash-as commented on #242
@joeltraber Actually we didn't got any solution. Everywhere we have seen like its the issue with calico network. The difference between CIDR range in Calico and Pod network. But that was same for us. We was using CentOS 8 and found some difference in iptables. So we changed back to CentOS 7 and reinstalled cluster, that time it worked.

[2022-11-08 19:07] jsonmp-k8 opened #245 "Support for EFS encryption in transit"
As part compliance within our company we are asked to make sure that all EFS resources are encrypted in transit. However when we enable encryption in transit, the NFS provisioner chart does not support  EFS resources that are encrypted in transit.
This is the policy that is attached to EFS when EFS is created to make EFS is encrypted in transit.

[code]

[2022-11-08 20:43] jsonmp-k8 commented on #245
This is the error message that we get
[code]

[2022-11-10 09:41] #201 closed

[2022-11-11 21:58] #186 closed

[2022-11-14 15:46] brconnell4 opened #247 "[nfs-subdir-external-provisioner] - CrashLoopBackoff"
We have the nfs-subdir-external-provisioner chart deployed to our cluster, and ever so often it hits a crashloopbackoff due to the following error:

[code]

 I found this issue
https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/25

And followed the recommended troubleshooting steps. This included a complete uninstall of the existing helm chart and verifying that the storagec

[2022-11-14 21:26] #195 closed

[2022-11-14 22:26] #218 closed

[2022-11-14 22:26] #217 closed

[2022-11-16 12:56] teonius opened #248 "changing PVName template"
hi, i was looking through the documentation but i couldnt find anything about this
is it possible to do adjustments to the PV-Name template?  currently its pvc-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
my goal is to have "${pvc.name}-pv"   (or something similar)

if i missed this in another discussion sorry for the double post

[2022-11-18 04:41] thejasvi104 opened #249 "Mount path directory is creating with 777 permission"
The mount path directory is created with 777 permission, There is no option to change it via configuration variables

[2022-11-20 14:27] 0Styless commented on #205
/remove-lifecycle rotten

[2022-11-21 10:25] abhinav1144 opened #251 "Protocal not supported"
MountVolume.SetUp failed for volume "nfs-subdir-external-provisioner-root" : mount failed: exit status 32 Mounting command: mount Mounting arguments: -t nfs server-name:path  /var/lib/kubelet/pods/543b5aaf-b62e-4ede-a411-24104272a76a/volumes/kubernetes.io~nfs/nfs-subdir-external-provisioner-root Output: mount.nfs: Protocol not supported

[2022-11-23 02:22] deeco opened #253 "node affinity documentation"
its not clear if node affinity is supported and how can be labeled or setup.

Example would be like https://github.com/openebs/dynamic-nfs-provisioner/blob/develop/docs/tutorial/node-affinity.md

Here a custom label can be assigned to nodes and only specfic provisioner is used. this is useful in the case of multiple datacentres where there are nfs / nas located with nodes

[2022-11-24 14:09] yonatankahana commented on #239
You have different issue, probably connection problem since the link https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/releases/download/nfs-subdir-external-provisioner-4.0.17/nfs-subdir-external-provisioner-4.0.17.tgz is valid.

[2022-11-29 15:50] Shimrockx commented on #243
Hi,

There's an exemple on patching the name of the storage class so I assumed you can patch the reclaim policy and other options with the same method.

`kustomization.yml`

[2022-11-29 15:53] Shimrockx commented on #243
Hi,

There's an exemple on patching the name of the storage class so I assumed you can patch the reclaim policy and other options with the same method.

`kustomization.yml`

[code]

Try it with :

[code]

Wait for success file in the new pod created folder and then use

[code]

And look if the folder always exist.

Don't know if it's the best solution but it can help you.